[2017-10-04 10:43] sindresorhus opened #2 "Predicates should just accept a value and return an error message or undefined"
Right now you have to push it manually to the context. See: https://github.com/sindresorhus/ow/pull/1#discussion_r142591802

[2017-10-04 10:44] sindresorhus opened #3 "Turn on `noImplicitAny` in the TS config"
When https://github.com/sindresorhus/is/issues/9 is done.

[2017-10-04 18:41] SamVerschueren opened #4 "Validator ideas"
Want to open a thread to discuss and think about all the nice validators/predicates we want to implement. Feel free to provide feedback, add new things, remove things etc. It's just a draft about things we could add.

## `all`

- `optional` (Means `undefined` is allowed) (Note: I don't think we should allow `null`, to align with default parameters) (Tracked by #58)
- [x] `not` (Inverts the followi

[2017-10-05 06:08] sindresorhus opened #5 "Report multiple type errors"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/5)

If an input has multiple errors, we should list them all so the user can fix it in one go.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $60.00)

- [<img src='https://avatars3.githubusercontent.com/u/448271

[2017-10-12 06:48] SamVerschueren opened #7 "Add TSLint"
I'm going through all the rules and will add a first draft of the TSLint configuration. We can always finetune in the future.

I think it would be nice if we could extract our config to a separate repo (like XO) but for TS projects. But let's first come up with decent rules :).

[2017-10-13 16:43] #2 closed, assigned to nobody

[2017-10-16 06:22] #7 closed, assigned to nobody

[2017-10-18 16:56] sindresorhus opened #11 "Documentation"
Would be cool to generate the documentation from the code.

@SamVerschueren Do you know any way to do that?

[2017-10-23 19:29] sindresorhus opened #14 "Logo and tagline"
Suggestions welcome. I'll try to come up with something when I have some time.

Would be fun to invent a meaning for `ow`. Like it's an acronym for something fun.

[2017-10-30 07:09] sindresorhus opened #16 "Bundle dependencies"
Since this module is going to be used in a lot of my modules, I'd like it to stay dependency-free. We should compile everything into one bundle file.

@SamVerschueren Is there any way to make the TS compiler include dependencies when it compiles to a bundle?

[2017-11-01 19:42] #16 closed, assigned to nobody

[2017-11-01 19:43] SamVerschueren opened #24 "Run tests on the bundled code"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/ow/issues/24/badge.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/24)

Currently, the tests are not ran on the bundle we generate. It would be nice if we did this to make sure the bundle we ship works and we didn't forget something in the webpack config for instance.

[2017-12-03 19:39] SamVerschueren opened #31 "Make `ow` interface more strict"
We could write the `Ow` interface like this

[code]

This would already provide feedback to the user of the library because it enforces the value to be the correct type based on the predicate.

[code]

This currently works, with the new definition, it will fail and an error is thrown

------------
The only reason preventing this currently is that it would enforce us to rewrite some tests.

[code]

[2017-12-03 21:50] vadimdemedes opened #32 "Pass an argument name to use in an error message"
Errors like the following would be much more useful if they contained which argument is that error for:

[code]

@sindresorhus proposed [this](https://stackoverflow.com/questions/1009911/javascript-get-argument-value-and-name-of-passed-variable/1009988#1009988) to avoid passing argument names explicitly, but in that case variable names will be incorrect when the code is minified/precompiled.

I do

[2017-12-04 21:35] #31 closed, assigned to nobody

[2017-12-04 21:40] #11 closed, assigned to nobody

[2017-12-05 07:02] SamVerschueren opened #34 "Dist bundle is broken"
We use the `banner-webpack-plugin` to add our custom exports to the end of the file. It used to work, but now I notice that it emits the following

[code]

So although we specify that it should strip the first source map url, it doesn't. I dived into the plugin and it looks like the plugin does the correct job because it does strip out that part. So no idea where I should look. I should really wri

[2017-12-07 02:34] #34 closed, assigned to nobody

[2017-12-23 00:29] sindresorhus opened #40 "Make it easy to extend and add custom predicates"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/ow/issues/40/badge.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/40)

Braindump: https://gist.github.com/SamVerschueren/6e1c7e9f3183dbe1b7d8909c6ff07337#custom-validators

[2017-12-23 00:30] sindresorhus opened #41 "Ability to reuse validations"
Something like:

[code]

[2017-12-27 18:35] #41 closed, assigned to nobody

[2017-12-28 19:17] SamVerschueren opened #45 "Refactor collection predicates"
Some parts of the collection predicates are duplicate like the [key check](https://github.com/sindresorhus/ow/blob/master/source/lib/predicates/map.ts#L57-L69) for instance. Want to extract these into a utils directory.

I already experimented with an abstract `CollectionPredicate` but that doesn't really work. It's very hard to declare generic error messages and doc comments. I'd rather have some

[2018-01-01 13:11] #45 closed, assigned to SamVerschueren

[2018-02-01 01:45] #3 closed, assigned to nobody

[2018-02-01 03:32] sindresorhus opened #49 "Enable the `esModuleInterop` tsconfig flag"
[code]

See: https://blogs.msdn.microsoft.com/typescript/2018/01/31/announcing-typescript-2-7/

It would let us use normal ES2015 import instead of this workaround: https://github.com/sindresorhus/ow/commit/ec9483abeac108dfd83c15795716ec4f7b8a64b5#diff-4a1b7500a09bd52ebb309d776b744539R1

I tried enabling it, but the Lodash types were not compatible:

[code]

We need to either wait or send a PR to

[2018-02-08 06:55] SamVerschueren opened #50 "Support dot properties in object hasKeys and hasAnyKeys"
See https://github.com/sindresorhus/ow/pull/48#issuecomment-362176432

[2018-02-08 06:56] SamVerschueren opened #51 "Add object.valuesOfTypeDeep validator"
See https://github.com/sindresorhus/ow/pull/48#issuecomment-362535035

[2018-02-12 19:33] #50 closed, assigned to SamVerschueren

[2018-02-12 19:41] #51 closed, assigned to SamVerschueren

[2018-03-02 19:45] sindresorhus opened #54 "Support BigInt validator"
Depends on https://github.com/sindresorhus/is/issues/39

[2018-03-15 06:56] SamVerschueren opened #58 "Add `optional` predicate"
This is something that popped in my head while I was exploring the `any` and `optional` predicate. Currently for `any` we have the following syntax.

[code]

The proposed syntax for `optional` is

[code]

I already spent quite some time trying to get the type detection work correctly, but I just couldn't get it working. An alternative in line with the `any` predicate could be `ow(x, ow.optional(ow

[2018-03-27 19:37] #49 closed, assigned to nobody

[2018-04-26 05:49] SamVerschueren opened #60 "Refactor `is` predicate"
I was writing the docs in #59. I had to document the `is` predicate and gave the following example.

[code]

This made me wonder, should we refactor the implementation of `is` regarding the custom error message. I'm not 100% sure about it but wanted to get some feedback. Instead of just returning a string, we could either do one of the following.

#### 1. Throw an error

[code]

#### 2. Return an

[2018-04-26 20:25] #60 closed, assigned to nobody

[2018-04-27 18:25] stephenmathieson opened #64 "Error: Cannot find module '@sindresorhus/is'"
Hey! Thanks for putting this together. This seems like a really great library.

Unfortunately, I'm unable to use the version on npm currently. Installing it works as expected, but once I `require("ow")`, an error is raised.

It looks like the issue is a number of production dependencies are listed in package.json as dev deps. :/

Here are reproduction steps:

[code]

[2018-04-27 21:06] SamVerschueren commented on #64
This seems to be a bug but the dependencies are intended. We build the library with webpack so that every dependency is bundled together with Ow to keep it dependency free.

[2018-04-28 01:08] brandon93s commented on #64
@SamVerschueren - curious what the motivation for this is, beyond just keeping it "dependency free"?

[2018-04-28 04:06] SamVerschueren commented on #64
See #16

[2018-04-29 09:56] #64 closed

[2018-05-02 18:43] #14 closed, assigned to sindresorhus

[2018-05-03 13:16] reel opened #70 "Support for i18n"
Would a PR for i18n support be inline with your vision of this project?

[2018-05-03 14:42] sindresorhus commented on #70
No, sorry. It's just too much extra work both implementing and maintaining it to be worth it. This module is targeted developer-facing not user-facing errors.

[2018-05-03 14:42] #70 closed

[2018-05-07 15:21] benwiley4000 opened #72 "Env variable to turn off validation?"
I think very specific validators, while potentially useful, could end up costing a lot at runtime. What if there were a way to instantiate a copy of `ow` that can be ignored?

The API could look something like:

[code]

[2018-05-08 14:25] jorgeitenjr commented on #32
Wouldn't it be more easy to simple add a custom message to predicate?
`ow(name, ow.string.nonEmpty, "The field name is required");`
If custom message isn't defined, use default message.

[2018-05-09 12:33] danyalaytekin commented on #72
I’ve worked on a game dev project where we did this for performance reasons. It’s quite a widely used approach, so offering the option might help this library’s adoption, even if the authors don’t use it themselves.

[2018-05-09 12:45] benwiley4000 commented on #72
@SamVerschueren in general I think it makes plenty of sense actually; this is the default behavior for production React builds, for example (propTypes are not checked). The reasoning being that type error warning messages are useful to developers, but not very useful to end users.

However I can see how certain uses of this library wouldn't benefit from such an approach, for example if you're usin

[2018-05-09 15:15] mimshwright opened #73 "Suggestion: Flip parameter order and adding currying"
Sorry for the jargony subject line. Just a suggestion by changing the order of the parameters and [currying](https://lodash.com/docs/4.17.10#curry) you could  remove the need for a separate `create` function...

[code]
And `ow.any` becomes

[code]
Perhaps even accepting curried `ow()` calls as arguments...
[code]
etc.

[2018-05-09 21:59] transitive-bullshit commented on #32
I was excited to use this library until I realized this very important functionality is missing :-/

I'd be in favor of adding an optional third-parameter `label?: string` which would be used in the user-facing error messages.

For a concrete example, I was just trying to add some parameter validation to a CLI and realized I couldn't use `ow` because users won't understand stack traces to figure o

[2018-05-10 04:26] KhramtsovMaksim opened #74 "Add validateOnly mode"
Not throw error, and just return ```isValid: boolean```;
For Errors add support of https://github.com/joyent/node-verror

[2018-05-10 17:04] sindresorhus commented on #74
Why? What's your use-case?

I don't think this has many benefits for `ow`.

[2018-05-10 17:46] captDaylight opened #75 "Update Readme with "why" and practical examples"
This looks like an interesting project but I don't have a solid grasp of where I should use it. In general, more upfront overview would be helpful.

[2018-05-10 18:59] KhramtsovMaksim commented on #74
I try use it in validation predicate, and I must wrap arguments ow's check with try-catch and return false in error case. But with ```validateOnly``` mode or ```isValid``` getter we can avoid it unobtrusively.

@joyent https://github.com/joyent/node-verror is the best approach to process errors in nodejs world. So it would not be bad to adhere to this practice.

PS Thx for your work! ;)

[2018-05-13 14:06] ajm2dr commented on #75
Would be useful in unit testing. You could even like test on the fly while a program is running with this.

[2018-05-14 04:02] sudo-suhas commented on #32
@sindresorhus, @SamVerschueren Would you accept a PR which accepts the optional third argument as label?

[2018-05-14 04:26] sudo-suhas opened #76 "intellisense does not work as expected"
When I try to use this module from VSCode in common js, intellisense does not work correctly because of default export(I think):

![image](https://user-images.githubusercontent.com/22251956/39978207-e24bfa84-575c-11e8-86d6-070144a7e087.png)

![image](https://user-images.githubusercontent.com/22251956/39978234-131d1580-575d-11e8-92e3-7f6d69066690.png)

This is mostly a nice to have and would be goo

[2018-05-14 07:44] SamVerschueren commented on #76
If you want that in CJS, you need to use `require('ow').default`. It's not possible (as far as I know) to make the type definitions work with CJS and ESM.

[2018-05-14 07:44] #76 closed

[2018-05-14 07:48] sudo-suhas commented on #76
I see. Thanks anyway.

[2018-05-14 07:50] SamVerschueren commented on #32
I agree that we should have something for this. When using `ow` in production apps, this is one of the things that bugs me as well.

@sindresorhus What's your idea on this one?

[2018-05-14 07:51] SamVerschueren commented on #58
We really need this :D. I have to use the following construct for now which is ugly.

[code]

Would be much better if we could write

[code]

[2018-05-14 08:35] sindresorhus commented on #76
@sudo-suhas Please do open a VSCode issue about this and link to this issue. It seems like something VSCode should support without having to use `.default`.

[2018-05-14 12:58] SamVerschueren commented on #76
It's rather a typescript (language server) issue I guess.

[2018-05-14 16:35] transitive-bullshit commented on #32
Thanks for the breakdown @SamVerschueren.

I'm in favor of either #1 because KISS or the following:

**5.** Make label part of the predicate

[code]

This is essentially #3 but using the fluent api you're already using instead of an options object.

[2018-05-14 16:38] transitive-bullshit commented on #32
I think in general having a `label` is preferable to having a full error message because it allows the predicates to fill-in the error message appropriately as opposed to a generic error message that doesn't say which predicate failed.

I think this is still what I'd want for CLI use cases.

[2018-05-15 03:17] sudo-suhas commented on #76
@sindresorhus I have reported the issue to VSCode - Microsoft/vscode#49872.

@SamVerschueren The folks at VSCode usually move the issue to the Typescript repo if it needs to be addressed there. Let us see.

[2018-05-15 05:34] SamVerschueren opened #80 "Validate if string is part of an array `.oneOf(string[])`"
I had a use case where I needed to check if the input was a string and was part of an array. So it might be nice if we had a `.in(list: string[])` predicate (or another name) which could cover this.

#### Example
[code]

[2018-05-16 03:01] sudo-suhas commented on #76
Would the change suggested in https://github.com/Microsoft/vscode/issues/49872#issuecomment-389269288 be welcome?

[2018-05-16 11:39] SamVerschueren commented on #76
Does that work? See my comment in the thread. I believe it breaks for ESM.

[2018-05-16 14:53] Martin-Pitt commented on #58
On the other side of the coin for non-optional, could there be a ow.mandatory that throws by using it as default arg?

[code]

Reference: [16. Mandatory Parameter Shorthand](https://www.sitepoint.com/shorthand-javascript-techniques/#16mandatoryparametershorthand)
[code]

[2018-05-16 15:37] SamVerschueren commented on #58
@Martin-Pitt can you create a new issue so we can discuss this separately? I'm close to landing a PR for optional so it will get lost.

[2018-05-17 02:05] Martin-Pitt opened #83 "Mandatory parameters?"
Could there be a ow.mandatory that throws by using it as default arg?

[code]

[code]

----

Reference: [16. Mandatory Parameter Shorthand](https://www.sitepoint.com/shorthand-javascript-techniques/#16mandatoryparametershorthand)
[code]

[2018-05-18 21:07] HelloEdit commented on #80
Maybe change the name for `enum` ?

[2018-05-19 04:35] transitive-bullshit commented on #32
I'd be happy to add this functionality in a PR if there is consensus from the creators on a direction.

[2018-05-19 05:13] SamVerschueren commented on #80
Why? Enums are not the same as arrays. Can you give an example?

[2018-05-19 06:04] sindresorhus commented on #32
@transitive-bullshit I really like your suggestion with `.label()` 👌

Let's wait and see what @SamVerschueren thinks.

[2018-05-19 06:13] SamVerschueren commented on #32
Let's go with `label()`. We can alway re-evaluate later and do it differently in a 1.x release if we decide that it's confusing or whatsoever.

[2018-05-19 06:49] sindresorhus commented on #32
Alright. @transitive-bullshit PR welcome :)

[2018-05-19 07:07] HelloEdit commented on #80
for me, enum refers to the possible value that can take the string. Or I did not fully understand the use cases of "is"

[2018-05-19 07:57] transitive-bullshit commented on #32
Sounds good -- I'll work on it this weekend. Thanks, guys!

[2018-05-20 01:38] transitive-bullshit commented on #80
I think `enum` would make more sense if it were the type, not the function.  And since `enums` don't exist as a native type in JS, @SamVerschueren's OP suggestion seems the most consistent to me.

[2018-05-20 11:09] SamVerschueren commented on #80
Exactly, enums are more a TS thing rather than a JS thing.

[2018-05-20 12:54] HelloEdit commented on #80
Yes, it might be confused. "in" seems fine in this case ^^

[2018-05-21 02:59] transitive-bullshit commented on #80
Alternatively, `oneOf` might be a little clearer and it follows react's prop-types naming.

[code]

[2018-05-21 03:51] sindresorhus commented on #80
:+1: `oneOf`

[2018-05-22 15:19] haywirez opened #85 "Fails to minify with create-react-app"
I'm getting this with the latest [`create-react-app`](https://github.com/facebook/create-react-app), I think it's possibly due to the `/dist` not being compiled down to ES5? Had to take ow out for now for convenience, which is a shame 😕

There's some explanation here: http://bit.ly/2tRViJ9

`$ react-scripts build`:

[code]

[2018-05-22 15:36] sindresorhus commented on #85
This module mainly targets Node.js, not the browser. It's up to you to transpile it with Babel if you want to use it in the browser. You can find a more detailed explanation here: https://github.com/sindresorhus/ama/issues/446

I'm sorry that `create-react-app` is lacking in this aspect, but it's up to them to support the community. Each package should not be required to specially support `create-

[2018-05-22 15:36] #85 closed

[2018-05-24 18:19] sindresorhus commented on #74
Returning a boolean instead of throwing is a valid use-case, but I don't think we'll adopt VError.

[2018-05-24 18:25] #4 closed, assigned to nobody

[2018-05-25 05:56] SamVerschueren commented on #74
Some suggestions

- `ow.isValid(value, ow.string)`
- `ow.validate(value, ow.string)`
- `ow.test(value, ow.string)`
- `ow.is(value, ow.string)`

[2018-05-25 06:03] sindresorhus commented on #74
I would go with either `1` or `2`.

[2018-05-25 13:49] SamVerschueren commented on #74
I think I prefer `1` the most. The reason is that it's more clear that it is returning a boolean because if the `is` prefix.

[2018-05-25 13:57] SamVerschueren commented on #74
Another suggestion

- `ow.matches(value, ow.string)`

Just throwing ideas in here :).

[2018-05-25 19:01] #74 closed

[2018-05-27 02:14] cbovis commented on #74
On a side note to this issue. Can I suggest either releasing changes as soon as they hit master or only updating README once changes have been released? Currently the README is out of sync with the NPM package which is confusing and will most likely cause people to do what I did (see an error, search issues, come to the conclusion that isValid is not yet released, uninstall ow).

[2018-05-27 04:32] SamVerschueren commented on #74
We always do that. The readme on npm is the one which is correct and should be used. Or the full API documentation https://sindresorhus.com/ow/. That one is also only updated when a release is published.

[2018-05-29 11:45] #32 closed

[2018-05-30 06:07] #80 closed

[2018-06-04 21:06] mdouglass opened #88 "ow.object validator does not work with Class|undefined from TS"
I've simplified this example to make it easier to repro (I know the `as Test|undefined` makes no sense in the example).

[code]

This fails to compile with:
[code]

Interestingly, if you remove the member variable `foo` then it compiles without problem.

Tested with ts 2.8.3, ow 0.4.0, node.js 10.3.0, npm 6.1.0

[2018-06-06 17:19] transitive-bullshit opened #89 "ow.any doesn't support labels"
As a user, I would've expected this to work:

[code]

But instead, I have to do the following which is awkward & redundant:

[code]

Any thoughts on supporting the former syntax?

[2018-06-06 17:33] sindresorhus commented on #89
Just an oversight I think.

@transitive-bullshit Thoughts?

[2018-06-06 17:38] transitive-bullshit commented on #89
Yeah, I had overlooked this case; I just wanted to make sure you guys were onboard before submitting a PR. :)

[2018-06-06 17:43] sindresorhus commented on #89
Go for it :)

[2018-06-07 08:32] electerious opened #90 "ArgumentError instead TypeError"
Is there a reason for using a custom error named `ArgumentError` instead of the build-in `TypeError`?

[2018-06-07 08:37] electerious opened #91 "Package status"
I'm planning to use `ow` in multiple modules, but the current version is below 1.0.

Should I expect big changes till v1.0?
What's the plan / open tasks keeping the project away from being considered as final?

(Great work btw :))

[2018-06-07 08:52] sindresorhus commented on #90
Say you have `ow(input, ow.string.startWith('f'))` and `input` is `bar`. That is not techincally a `TypeError`.

[2018-06-07 08:53] electerious commented on #90
Good point. Thanks for the explanation!

[2018-06-07 08:53] #90 closed

[2018-06-07 08:59] sindresorhus opened #92 "Object shape validator"
Would be useful to be able to validate the shape of objects, like [`PropTypes.shape`](https://github.com/facebook/prop-types)

I imagine it could be like:

[code]

@SamVerschueren @transitive-bullshit Thoughts?

[2018-06-07 09:01] sindresorhus commented on #91
It's pretty stable. We need to resolve #71, #82, and #92 before doing 1.0.0, but only #71 is breaking.

[2018-06-07 09:17] electerious commented on #91
Thanks for the update!

[2018-06-07 09:17] #91 closed

[2018-06-07 11:52] transitive-bullshit commented on #92
I agree that this would be useful, though I'm not sure I'm in favor of adding it to the core API since unlike its usage in `PropTypes`, you can accomplish the same thing with multiple `ow` statements.

[code]

This isn't possible with `PropTypes` which is one reason they added `PropTypes.shape`.

My main argument against it would be to keep the API surface as small as possible, but I do find mysel

[2018-06-07 13:27] sindresorhus commented on #92
I think it should be in core. I very often have APIs with an options-object and I want to quickly validate the options. Having to do separate `ow` calls for each property would be verbose and annoying.

---

I think this:

[code]

is better than this:

[code]

We also wouldn't need `label()` for the object properties as they can be inferred.

[2018-06-07 13:43] transitive-bullshit commented on #92
💯

Sounds good to me :)

[2018-06-07 22:39] transitive-bullshit opened #93 "CI build failure on Node.js v6"
[link](https://travis-ci.org/sindresorhus/ow/builds/386693479)

Not sure what's going on, but it seems to be a dependency installation error with babel-parser.

Also, I'm pretty sure travis-ci wants everyone to migrate over to travis-ci.com instead of travis-ci.org. It's a seamless transition; just updating your links.

[2018-06-08 18:28] transitive-bullshit opened #94 "Large bundle size"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/ow/issues/94/badge.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/94)

Hey guys,

Currently, the `ow` bundle weighs in at 119.31 kb (65.69 kb minified), which imho seems pretty excessive considering it's functionality.

This isn't as much of an issue for Node.js usage, but for modules which want to support both Node.js a

[2018-06-08 18:36] sindresorhus commented on #94
Where are you getting your size data from? Our size badge in the readme says 9 KB minified and gzipped.

[2018-06-08 18:37] sindresorhus commented on #94
Happy to consider ways to reduce the size though.

[2018-06-08 18:39] sindresorhus commented on #94
Another solution could be to find a way to only include `ow` in development and strip it out in production.

[2018-06-08 21:05] transitive-bullshit commented on #94
I just tried a few experiments with testing the size of `ow` bundled for the browser:

With a fresh `create-react-app` and adding `import 'ow'` to `index.js`, using it's `analyze` command to view the delta, it adds 47.31 kb to the minified JS bundle size. This is without actually using `ow` at all, just adding the import.

[package-size](https://github.com/egoist/package-size) yields 119.31 kb (65

[2018-06-08 21:34] transitive-bullshit commented on #94
This package report seems to be a reasonably accurate depiction of the bundled size (55.3 kb minified): https://bundlephobia.com/result?p=ow@0.4.0

[2018-06-08 21:53] transitive-bullshit commented on #94
I think I figured out the main discrepancy between our understanding of library size and the bundled size. All the bundlers are assuming a target environment of ES5, whereas `ow` outputs a target for `ES2016`.  If I adjust `ow` to target `ES5`, I get an ~50kb bundle size.

This may be perfectly reasonable, as I'm not seeing any real low-hanging fruit here, but at least we understand exactly what's

[2018-06-10 17:58] SamVerschueren commented on #93
Travis is flaky sometimes, it helps most of the time if you just re run the build.

[2018-06-10 18:51] SamVerschueren commented on #92
We discussed this somewhere else, can't find it though. I believe our initial suggestion was just

[code]

So just passing an object as second parameter would do the trick. I see positive sides to both ideas.

[2018-06-11 09:14] sindresorhus commented on #92
@SamVerschueren I like that shorthand, but there's no way to use a label with that...

[2018-06-11 16:41] sindresorhus opened #95 "Add `number.integerOrInfinity` predicate"
I have many cases where an API supports an integer or Infinity, like this:

[code]

I want to ensure `concurrency` is an integer, but I also need to support `Infinity`. I know I could use `ow.any` for this, but it feels very verbose for such a common use-case.

[2018-06-11 16:52] sindresorhus commented on #73
I like the composability of this, but I think having the input first results in more readable code when you have multiple assertions.

[code]

vs.

[code]

[2018-06-11 17:14] sindresorhus commented on #89
I now come to realize adding `.label()` to the types were a mistake. The label has nothing to do with the predicate. It should be a top-level thing. Having it on the type also lets the user specify it anywhere in the chain, which results in unreadable code if multiple assertions have the label in different places (I'm sure some users will do that).

It would have made more sense to add it top-leve

[2018-06-11 17:25] sindresorhus opened #96 "Add `string.alphabetical` predicate"
Should only match `/^[a-z]+$/ig`.

[2018-06-11 17:26] sindresorhus opened #97 "Add `string.uppercase` and `string.lowercase` predicates"

[2018-06-11 17:52] ChristoPy commented on #96
Match only lower case? Or upper case as well?

[2018-06-11 18:04] sindresorhus opened #98 "Infer label when possible"
Would be nice to infer the `.label()` when not specified. Can be useful in environments like Node.js or browser non-minified (development).

[code]

It feels moot having to define `foo` twice.

The current way to do this is to parse them from `fn.toString()`: https://stackoverflow.com/questions/1007981/how-to-get-function-parameter-names-values-dynamically

[2018-06-11 18:05] sindresorhus commented on #96
Both uppercase and lowercase, per my specified regex.

[2018-06-11 18:10] ChristoPy commented on #96
Well, here should match the beginning and the end of strings with upper case and lower case characters ```/^[A-Z]+$/g```

[2018-06-11 18:18] sindresorhus commented on #96
Yup, except for the `g` flag which is moot.

[2018-06-11 18:19] ChristoPy commented on #96
I use the ```g``` flag in most cases, but i think the regex is okay.

[2018-06-11 18:23] ChristoPy commented on #97
Lowercase: ```/^[a-z]+$/i```
Uppercase: ```/^[A-Z]+$/i```

[2018-06-11 18:34] sindresorhus commented on #97
@ChristoPy Shouldn't have the `i` flag, but it's too strict regardless.

I'm thinking: `const isUppercase = value => value === value.toUpperCase()`

[2018-06-11 18:48] ChristoPy commented on #97
I guess using the regex to check is a little bit shorter: ```const IsUpperCase = Value => /^[A-Z]*$/.test (Value)```

[2018-06-11 19:04] sindresorhus commented on #92
`PropTypes.shape()` doesn't throw on additional unspecified keys. They have `PropTypes.exact()` for that. We need to handle both cases.

[2018-06-11 19:06] sindresorhus commented on #97
@ChristoPy No, it's not the same.

[code]

[2018-06-11 19:09] transitive-bullshit commented on #92
Just a note; the `shape` vs `exact` semantics seem very related to the `optional` operator and may have some overlap in implementation.

[2018-06-11 19:11] ChristoPy commented on #97
@sindresorhus I thought it should validate strings containing only letters.
Your solution is the best for this occasion.

[2018-06-11 19:12] sindresorhus commented on #92
@transitive-bullshit The `optional` operator would only be useful for known optional properties. What about unknown properties?

[2018-06-14 06:14] sindresorhus commented on #98
I just realized I have a module for this: https://github.com/sindresorhus/fn-args Totally forgot about it.

[2018-06-14 13:21] sindresorhus commented on #94
@transitive-bullshit That's very clever! Maybe there's a way we could do this in `ow` itself as an option? Seems there are other people that want it too (#72).

[2018-06-14 13:39] sindresorhus commented on #94
I wonder if setting [`sideEffects: false`](https://github.com/webpack/webpack/releases/tag/v4.0.0) in package.json could reduce the size as it would allow for more aggressive tree-shaking.

[2018-06-14 14:35] transitive-bullshit commented on #94
Agreed, we should definitely add `sideEffects: false`, though I'm not sure it will move the needle much as in my tests rollup and webpack bundles have similar sizes, with rollup performing a similar (slightly more conservative) side effect detection and tree-shaking method.

[2018-06-14 14:47] transitive-bullshit commented on #94
As an experiment, I was playing around with rewriting `ow` to be lighter (albeit hackier) [here](https://github.com/transitive-bullshit/ow-lite).

| Library        | Size      | Minified | GZip    |
|:---------------|:----------|:---------|:--------|
| `ow@0.5.0`     | 119.61kb  | 65.95kb  | 17.58kb |
| `ow-lite`      | 6kb       | 2.2kb    | 903b    |

Takeaways:
1. I'm pretty sure at this point

[2018-06-14 15:57] SamVerschueren commented on #89
I agree that after using it for a while, the `.label()` makes the predicates quite heavy to process mentally. The only thing we should make sure off is that users don't expect `ow(foo, 'bar', ow.string)` to validate `foo.bar`. That's what the API of SinonJS does for instance, `sinon.spy(foo, 'bar')` spies the `bar` function on the `foo` object. But I think it makes sense to do it this way.

In the

[2018-06-14 16:02] sindresorhus commented on #94
Most of our error messages have the same start and end, this is what gzip thrives on. Although, we could try to create a helper method to do the start and end of the message so we don't have to repeat it. That might save some bytes.

[2018-06-14 16:05] sindresorhus commented on #94
I think the real fix is to just recommend disabling `ow` in production for browser usage, and have a method/option to do so. If size is a concern, there's no point in having `ow` in production.

Could be something like:

[code]

Or even more automated:

[code]

[2018-06-14 16:16] sindresorhus commented on #89
I don't really see why people would expect that. The person coding it would hopefully read the docs, and the ones reading it would see `ow(foo, 'foo')`, which doesn't look like property access.

Regardless, with #98, the label would only be needed to be set manually if you want it in production minified in the browser, which I think few would want anyway. So in the end, this doesn't matter much.

[2018-06-14 16:34] transitive-bullshit commented on #94
Agreed. As long as this would consistently result in tiny bundles for browsers compile time, I'm all for it :)

[2018-06-14 16:35] transitive-bullshit commented on #94
I'm just not sure bundlers are good enough at tree-shaking to accomplish this without a separate package at the moment.

Hoping to be proven wrong 💯

[2018-06-14 16:40] sindresorhus commented on #94
Why wouldn't your Proxy hack work with `ow` too?

[2018-06-14 16:53] transitive-bullshit commented on #94
We could switch to having `ow`'s main export be a Proxy, and having that proxy forward to either `ow` or noops depending on a condition as you proposed, but I'm pretty sure that both rollup and webpack couldn't exclude the unused code without pre-evaluating the code that invokes `ow` using something like [preval](https://github.com/kentcdodds/preval.macro). Webpack's `sideEffects: false` wouldn't

[2018-06-14 16:55] sindresorhus commented on #94
No, I mean:

[code]

Webpack is smart enough to understand this kind of `if` check.

[2018-06-14 16:57] transitive-bullshit commented on #94
Yeah, I think that should work, though it would disable `ow` in production node as well. I suppose we could add a stricter check for production and browser environment.

[2018-06-14 16:58] transitive-bullshit commented on #94
This wouldn't allow for the dynamic enabling / disabling previously suggested, but I think it's worth it if we can keep everything in one package.

[2018-06-14 17:53] sindresorhus commented on #94
Hmm. We could try making it a separate require: `require('ow/dev-only')` or something.

Alternatively or additionaly we could support a custom environment variable, so it could be:

[code]

[2018-06-15 05:47] SamVerschueren commented on #98
I'm looking into this, but unless I'm totally missing something, it doesn't feel like `fn-args` would help here. I'm not even sure if it's possible. The reason is that `fn-args` (or the solution from StackOverflow) returns the parameter names of the function being invoked. Meaning that you can do `fnArgs(ow)` which returns `['e', 't']` (dist bundle). But what we want is the name of the variable pa

[2018-06-15 05:55] SamVerschueren commented on #98
This makes me wonder, how does `power-assert` do this?

[2018-06-18 19:00] darkobits commented on #89
This would definitely be an 🕶addition to this package.

As an aside, I'm not _too_ particular about which route you guys decide to go, though simply adding support for `.label()` to `.any()` would be a non-breaking change and, in my humble opinion, be more in line with the current "fluent API" approach that `ow` uses.

Whether or not you want to keep that design or move to the parameterized approa

[2018-06-19 18:05] SamVerschueren commented on #98
I tried using [`callsites`](https://github.com/sindresorhus/callsites) for this

[code]

This prints the string `ow(x, predicate)` where we should be able to strip out `x`. I was hoping this information was present in the callsite itself, but it isn't. So this solution would only work in Node because it uses `fs.readFileSync`.

[2018-06-19 18:17] sindresorhus commented on #89
@darkobits My main point is that `label()` is in the wrong place. If we were to keep it fluent, it should be `ow.label('foo')(foo, ow.string);` instead, but that doesn't look very good.

[2018-06-21 16:17] sindresorhus opened #101 "Improve `not` error messages"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/ow/issues/101/badge.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/101)

Right now we just prefix them with `[NOT]`, but this is not very nice.

[2018-06-21 16:19] #96 closed

[2018-06-21 16:19] #97 closed

[2018-06-21 16:37] SamVerschueren commented on #101
From https://github.com/sindresorhus/ow/pull/71#issuecomment-399146770

[2018-06-21 16:42] sindresorhus commented on #101
I think we can automate most of it by creating helpers for the most common cases, like `to be`, and support an `invertedMessage` option for the few cases we can't automate.

---

Could be automated to something like:

[code]

[2018-06-21 16:48] SamVerschueren commented on #101
Good idea! I'll take a look when I find some time.

[2018-06-24 15:08] sindresorhus commented on #98
The above is exactly what we do in AVA too to get a nice output. I think Node.js-only is better than nothing. My main use-case is Node.js anyway. We just have to document it clearly.

[2018-07-04 10:20] vanthiyathevan opened #103 "Async validator"
Is it possible to have async validator? Ex. check if a value exists in DB.

[2018-07-18 13:09] alekbarszczewski commented on #89
Guys are you planning to do something with this?

[2018-07-30 19:51] sindresorhus opened #104 "TypeScript 3"
It's out: https://blogs.msdn.microsoft.com/typescript/2018/07/30/announcing-typescript-3-0/

We can probably replace this mess https://github.com/sindresorhus/ow/blob/db4af81a7e9de6a1c61d92e02121fb03982fd6e6/source/index.ts#L45-L54 with generic spreading.

@SamVerschueren I tried removing the above code and the test still passes. Are the tests faulty or is that code moot?

Do you think there are a

[2018-07-31 09:03] SamVerschueren commented on #104
There's a catch all `any` method https://github.com/sindresorhus/ow/blob/db4af81a7e9de6a1c61d92e02121fb03982fd6e6/source/index.ts#L55. This mess is only needed for better type inference because the catch all just returns a generic predicate and not a specific one.

Not sure about the `unknown` type, I'll need to check the codebase.

[2018-09-10 00:25] jnessbcf opened #105 "Ow's presence causes "Buffer is not defined" issue when webpacked"
First of all, *love* the library.  Really great stuff.

However when I use this library in a React app that's got some webpack going on, I get the following error:

Uncaught ReferenceError: Buffer is not defined

I've isolated the issue to _ow_ by
a) removing my references to ow code in the particular file (runs fine)
b) putting those references *back*, then hacking the following right into the be

[2018-09-17 17:33] sindresorhus commented on #89
PR welcome for my proposal in https://github.com/sindresorhus/ow/issues/89#issuecomment-396317392 :)

[2018-09-17 17:35] sindresorhus commented on #94
I think we should just go for https://github.com/sindresorhus/ow/issues/94#issuecomment-397365133, but add stricter node/browser check as @transitive-bullshit suggested.

[2018-09-17 17:38] #73 closed

[2018-09-18 16:08] SamVerschueren opened #106 "Expose label from predicate properly"
Currently, when setting the [`label()`](https://github.com/sindresorhus/ow/blob/master/source/lib/predicates/predicate.ts#L88-L91) on a predicate, that label is then set on the `context` object. This is fine for how it currently works. But I have a use case where I need to be able to read the label of a predicate in a proper way without retrieving the `context` in an ugly way and stripping of the

[2018-09-28 07:21] #105 closed, assigned to nobody

[2018-09-28 07:35] sindresorhus commented on #106
I would go with this because we intend to change the label behavior of `ow` to `ow(foo, 'label', ow.string)` in #89.

[2018-09-28 13:33] SamVerschueren commented on #106
Good point! I refactored it to `owValidator(errorName, predicate)` 👌. This can be closed because I don't need it anymore.

[2018-09-28 13:33] #106 closed

[2018-09-29 07:06] erdahuja commented on #101
@SamVerschueren @sindresorhus Can you help getting me started here. i want to start my first OS contribution.

[2018-10-16 10:10] #95 closed

[2018-11-14 18:53] SamVerschueren commented on #89
I'm working on this

[2018-12-12 12:44] SamVerschueren opened #111 "ow.string.numeric doesn't support negative values"
I wanted to check with `ow` if I could use `parseInt()` on a string value. So I did `ow(value, ow.string.numeric)`. It failed with the input of `-1` which is a perfect valid numeric value. Is this something we should support?

[2018-12-12 13:34] sindresorhus commented on #111
Yes, should be supported. Just an oversight.

[2018-12-12 17:01] #111 closed

[2018-12-14 08:15] SamVerschueren opened #113 "Add browser tests"
I'm using `ow` quite a lot in front-ends as well (mainly with [`ngx-ow`](https://github.com/SamVerschueren/ngx-ow)), think it would be nice to have some basic tests which checks that it runs correctly in a browser environment as well.

Feel free to ignore this though, I know that you don't really care and that the primary focus is Node.js. I definitely don't want to add lot's of extra complexity t

[2018-12-16 17:58] hamxabaig commented on #58
Is this gonna land anytime soon in the library? Definitely makes sense otherwise makes the code very ugly with ifs & elses.

[2018-12-16 18:05] sindresorhus commented on #58
@hamxabaig There's an open PR for it here: https://github.com/sindresorhus/ow/pull/82 You could help test it and add your feedback. That would help move it along.

[2019-01-08 06:53] sindresorhus opened #114 "Use Ow in conditional checks"
I would like to be able to use Ow directly in conditionals:

[code]

The above doesn't work as Ow doesn't return a boolean when the validation passes.

We have `ow.isValid()`, but it only returns a boolean. I need it to return `true` when it passes and throw an error when it doesn't.

---

Alternatives considered: Having Ow accept a callback that is only executed when the condition passes. However

[2019-01-08 06:58] SamVerschueren commented on #114
I don't see any downside in letting `ow` return `true` when it passes. 👌

[2019-01-09 00:21] #89 closed

[2019-01-09 00:21] #98 closed

[2019-01-09 06:33] SamVerschueren commented on #114
I was thinking yesterday as to why we need this?

Aren't these identical?

[code]

And

[code]

Because if it throws, it exits the function so why wrap it in an if-statement then? When it passes it will always continue.

[2019-01-09 07:03] sindresorhus commented on #114
Yeah, my example is flawed. It makes more sense when you see my actual use-case. I didn't include that as it would also need `.optional` to work. https://github.com/imagemin/imagemin-pngquant/blob/0e0edd2ce0a379623ec06dd40236276027abf606/index.js#L52-L55

The key is that I only want to do a computation when the input is both defined and the correct value. If the input is undefined I do not want to

[2019-01-09 10:12] sindresorhus opened #115 "Infer label code should only be called when needed"
Since it touches the file system, it should only be called when the error is created: https://github.com/sindresorhus/ow/commit/7eb02aff95c1d91c37800aab1d318500c9bde058#commitcomment-31881249

We could also consider caching the argument name globally using a WeakMap.

[2019-01-09 10:15] electerious opened #116 "inferLabel and readFileSync performance"
I've checked the recent `inferLabel` implementation and it executes `readFileSync` every time you use `ow`. This could be problematic in functions that get called frequently.

@sindresorhus pointed out that "It's only called when the ow check fails and it throws an error. So it should not be more than one time, usually.". This would be good, but that's not the case.

[2019-01-09 10:18] electerious commented on #116
Duplicate of https://github.com/sindresorhus/ow/issues/115

[2019-01-09 10:18] #116 closed

[2019-01-10 00:52] cdanielsen commented on #115
Wish I was skilled enough to diagnose this issue more thoroughly but I was attempting to use this package (v0.9.0) to validate some variables within the context of some [cypress tests](https://www.cypress.io). Cypress bundles code and runs it in a browser, and I'm using the [new label signature](https://github.com/sindresorhus/ow#owvalue-label-predicate) that seems like it should work in a browser

[2019-01-10 05:41] sindresorhus commented on #115
👍

[2019-01-10 09:43] whefter commented on #115
Note that this minor update (0.8 -> 0.9) breaks any application which either:
- is a frontend application and does not define "global"
- uses .label() on any predicate, since the old interface was for some reason totally removed.

npm by default uses a ^ semver indication, meaning lots of applications will get updated unintentionally.

We've had to pin ow to 0.8 in all our projects. It saddens me

[2019-01-10 10:07] sindresorhus commented on #115
What do you mean by this? Are you getting an error?

The release notes clearly document what's changed: https://github.com/sindresorhus/ow/releases/tag/v0.9.0

This is not correct. Pre-1.0.0 versions have special semver semantics. `^0.8.0` will *not* match version `0.9.0`. For pre-1.0.0 versions, minor versions are considered major, range-wise.

https://nodesource.com/blog/semver-a-primer

[2019-01-10 10:50] SamVerschueren commented on #115
Can you try v0.9.1? We think we fixed the issue.

[2019-01-10 11:21] whefter commented on #115
Thanks for the quick responses. My bad about the semver; it turns out that the project in question was using a ">=0.7 <1" range, causing the problem. Apologies; I get cranky when half my codebase breaks.

Still, we can't just migrate to 0.9 due to the large amount of code to rewrite. I'm sorry that I can't test 0.9.1 yet - I'll try and get back to you once I have.

[2019-01-10 16:47] cdanielsen commented on #115
@SamVerschueren I can confirm that fixed my issue 🎉 Thanks for the rapid feedback/update

[2019-01-11 06:10] lukechilds opened #118 "Support C style integer data types"
It would be useful if we could validate a number is in a safe range to be cast into a C type integer data type.

This would be useful for validating values when dealing with low-level protocols or interfacing with other low-level languages.

API should look like this:

[code]

which would be equivalent to:

[code]

We should add:

- `ow.number.uint8`
- `ow.number.uint16`
- `ow.number.uint32`
- `ow

[2019-01-11 06:36] sindresorhus commented on #118
👍 Makes sense to me.

I'll let @SamVerschueren chime in first before accepting this.

I considered whether these should be `.integer8` and `.unsignedInteger8`, but their usage is mostly for people that already know what they mean and familiarity from other languages is a must too, so I think sticking with the above names are okey.

[2019-01-11 06:50] SamVerschueren commented on #118
Yes makes sense to add them. Feel free to send a PR. I'm fine with the shorter names like `uint8` as well. They are generally used terms.

[2019-01-11 07:06] lukechilds commented on #118
Cool, should have a PR ready today.

[2019-01-13 00:52] Shinigami92 commented on #114
@sindresorhus If I understand you correctly, do you want something like that?:

[code]

[2019-01-13 01:48] sindresorhus commented on #114
@Shinigami92 No, I would prefer an if-statement. If it were to be a callback, it would be:

[code]

[2019-01-15 07:31] #118 closed

[2019-01-15 11:17] #115 closed

[2019-01-16 15:33] mhaagens commented on #92
Using this for simple input validation, unfortunately only throws on the first error, but that's all I need to make sure there are no erroneous inputs being passed.

[code]
Usage:
[code]

[2019-01-16 15:44] transitive-bullshit commented on #92
This is a nice wrapper @mhaagens 😄 Any reason it has to be asynchronous?

[2019-01-16 15:57] mhaagens commented on #92
Thanks! :) Doesn't have to be at all. Just like to be explicit about returning a promise when using async/await and I like the syntax better than callbacks :).

[2019-01-16 16:28] transitive-bullshit commented on #92
@mhaagens I meant that there's no need to use async / Promise or callbacks in this case since everything's synchronous.

[code]

[2019-01-16 20:01] mhaagens commented on #92
@transitive-bullshit Ah, yeah you're right!

[2019-01-17 00:00] sarkistlt opened #122 "Custom error message"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/122)

Thanks for the library really useful and simple! I so requests to add functionality to pass custom error message, and it was closed with introducing labels.
But be able to create custom error message is really important if you wan't to use t

[2019-01-17 10:02] sindresorhus commented on #122
Yes, we should support this. Although for your use-case, Joi would probably be better choice. At least until we support this #92, and #58.

[2019-01-17 22:46] sarkistlt commented on #122
thanks for quick reply, I'll wait)

[2019-01-22 15:53] Yoruba opened #123 "startsWith doesn't throw an ArgumentError"
Do I something wrong? Or throws the (ow('a', ow.string.startsWith('b')) not a ArgumentError?

[code]

[2019-01-22 16:01] sindresorhus commented on #123
Are you using the latest version? Where are you running it? Node.js or browser?

I'm getting:

[code]

[2019-01-22 16:31] #123 closed

[2019-01-25 13:20] SamVerschueren commented on #92
I want to start working on this. But before I do, what API are we going to use now?

[code]

And

[code]

[2019-01-25 14:17] sindresorhus commented on #92
👍

---

When you only see `.shape()` in some code, is it clear enough that it allows additional properties? For me, it's not. How about `partialShape()` or `looseShape()`? I prefer the former. Open to other naming suggestions.

[2019-01-26 20:07] #58 closed

[2019-01-27 12:20] itaisteinherz commented on #94
How would this be done in TS:

[code]

Having multiple `export default`s is not allowed, and exporting anything inside the `if` statement isn't allowed as well. We could solve this using a `namespace`, or add another JS file (`main.js`) which will only contain the code above.

[2019-01-28 12:10] itaisteinherz commented on #94
Also, note that I've begun working on this and will probably submit a PR in a few days (waiting for replies to https://github.com/sindresorhus/ow/issues/94#issuecomment-457913104).

[2019-01-28 21:00] alexnoz commented on #101
AFAIU in almost all cases it's enough to just put `not` after the first `to`, like `Expected 'value' to not be/have/match ...`, and for the cases where this approach won't work, e.g. min/max length, we can add `invertedMessage`, right? If so, I'll send a PR this week 🙂

[2019-01-29 19:11] StefanoSGI opened #126 "0.9.0 breaks module loading with create-react-app build"
**0.8.0 works fine**, 0.9.0 and up returns this:

![screenshot 2019-01-29 at 11 09 06 am](https://user-images.githubusercontent.com/25331099/51933616-8c842000-23b6-11e9-96f0-5bc3ae9e5ff1.png)

[2019-01-30 02:18] whmountains commented on #122
I would like to work on this.  I am thinking that the message could be passed in as the last argument.  @sindresorhus do you approve?

[2019-01-31 06:51] SamVerschueren commented on #92
The `partialShape` is already done 👌. When I started on `exactShape`, I wasn't sure how it should handle certain use cases.

Does `exactShape` mean it should be exact in both directions?

[code]

[code]

Should both of these checks fail, or only one of them? It has quite some impact on the implementation.

[2019-01-31 07:21] sindresorhus commented on #92
Exact should mean "exact" in that the shape should have all the same properties as the input object.

[2019-01-31 07:21] sindresorhus commented on #92
Yes

[2019-02-01 06:12] sindresorhus commented on #94
👍

[2019-02-01 07:47] #92 closed

[2019-02-01 08:59] SamVerschueren commented on #126
We've just released `Ow@0.12.0`, can you check if it works for you now?

[2019-02-01 09:40] elunic commented on #126
We're been having similar problems in our Angular builds, where we got an error about "global is not defined". The compile ran fine but the build threw an error in the browser.

`0.12` breaks the compile process for me, including a non-lib file:
[code]

`@types/node` is installed in the main project and working fine otherwise (latest version).

Note that reverting to `0.11` gets rid of the compile

[2019-02-01 16:53] StefanoSGI commented on #126
@SamVerschueren thanks for looking into this. I confirm `ow@0.12.0` solved the issue for me.

[2019-02-02 05:06] SamVerschueren commented on #94
I might be late to the party, but if I understand correctly, my bundled production ready browser code will fallback to a noop?

If that's correct, I don't like where this is going. I don't really understand the use case of having the need for Ow in development  but not in production. It's mainly for validating user input, no? I use it for that with [ngx-ow](https://github.com/SamVerschueren/ngx-ow

[2019-02-02 12:08] SamVerschueren commented on #126
@elunic I upgraded `ow` in our Angular project and v0.12.0 works perfectly fine. It looks like TypeScript can't resolve things in the Node core package, which looks like a misconfiguration somewhere.

Feel free to create a minimal reproduction repository (fresh angular-cli project) and I'll look into it.

[2019-02-04 03:50] sindresorhus commented on #94
Same as how PropTypes work in React. Most people strip them out for production, for size and performance reasons.

That's one use-case, but some might use it in API as a development assurance, but don't think it's worth it to ship it to users.

We should do that regardless. Although, from experience, tree-shaking is not as good as it's hyped to be, so color me sceptical.

Not sure how you would tr

[2019-02-04 03:50] sindresorhus commented on #94
@SamVerschueren How about we make this an explicit opt-in like I proposed earlier? `require('ow/dev-only')`.

[2019-02-04 07:22] SamVerschueren commented on #94
It would require every function to be exported individually.

Yes that sounds look a good way to solve this.

[2019-02-04 08:00] sindresorhus commented on #94
I don't really want that for `is`, as you would have to import it like:

[code]

Or

[code]

Both of which are ugly.

[2019-02-04 09:01] elunic commented on #126
Thanks for your reply! Here's the demo repository: https://github.com/elunic/angular-ow-test (

Infos & setup (reproduced in Git bash on Windows and Ubuntu 16.04)

[code]

To setup, run (`@elunic/debug-levels` can be any package that is included through `require`)
[code]

Set content of `src/app/app.component.ts` (this just adds an `ow` import and call and a `require` call)
[code]

Then run `ng se

[2019-02-04 19:09] itaisteinherz commented on #94
Sounds better indeed. I'll update #129 then.

[2019-02-05 06:33] SamVerschueren commented on #40
@sindresorhus whats the path forward here? Do you want the API which accepts a validation object?

[2019-02-06 16:41] elunic commented on #126
@SamVerschueren Should I open a new issue for this?

/wh

[2019-02-08 17:22] saelfaer commented on #75
+1 on the why, I need practical examples explaining the existance of this package.

current readme show's several Argument errors flying around when your variable isn't as string or has the right length...
however, am I supposed to now put catch blocks around any function call because it will start throwing errors on my data that I just fetched from a 3rd party service or a form?
This seems like s

[2019-02-11 06:38] SamVerschueren commented on #75
Form validation for instance https://github.com/SamVerschueren/ngx-ow.

To be honest, yes you should validate this data. Never trust data coming from an external source.

[2019-02-11 07:23] saelfaer commented on #75
I beg to differ, you should only validate the properties you need in your application, otherwise your app breaks when irrelevant stuff is changed.
however that was not the point of my question, I find it very obtrusive if i am to update all my functions with param validation lines while you could just validate the data comming and going in your app by implementing either classes or interfaces in t

[2019-02-13 10:13] sindresorhus commented on #40
Yeah, I can't think of a better API than what you've suggest in https://github.com/sindresorhus/ow/issues/40#issuecomment-354290533.

[2019-02-15 08:09] elunic opened #134 "0.12 does not compile in Angular 6+"
As described in https://github.com/sindresorhus/ow/issues/126#issuecomment-460173374

`ow` 0.12 does not compile with Angular 6+.

Here's a demo repository: https://github.com/elunic/angular-ow-test (just run ´npm i´ and ´ng serve´)
Contains a new Angular project and `ow`.

[code]

Infos & setup (reproduced in Git bash on Windows and Ubuntu 16.04)

[code]

To setup, run (`@elunic/debug-levels` can

[2019-02-15 11:20] SamVerschueren commented on #40
👌

[2019-02-21 18:09] SamVerschueren opened #135 "Error.captureStackTrace does not work in Firefox"
I was debugging something in Firefox with `ngx-ow` and noticed that [this](https://github.com/sindresorhus/ow/blob/master/source/argument-error.ts#L8) doesn't work. It's just `undefined`. Would be nice if we just added a `if` check to see if it exists. Works in Chrome though.

[2019-02-21 18:20] SamVerschueren commented on #134
The error indicates what you need to do

This is what makes it work. BUT, because `types` is defined as an empty array right [here](https://github.com/elunic/angular-ow-test/blob/master/src/tsconfig.app.json#L5), it doesn't work if you set it in the root `tsconfig.json`.

So either you add it in the root config and remove the empty array in `tsconfig.app.json`. Or you add it in the `tsconfig.app.j

[2019-02-21 18:20] #134 closed

[2019-02-23 20:32] sindresorhus commented on #135
Maybe we should do something similar to https://github.com/daliwali/error-class/blob/b1e9193254941ec2a549a40185cc4a05db98d241/index.js#L34-L40

[2019-02-25 07:00] SamVerschueren commented on #135
Yes, good idea. I'll do a PR.

[2019-03-05 07:55] SamVerschueren opened #136 "Use alternative Webpack require approach"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/ow/issues/136/badge.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/136)

See https://twitter.com/kamilogorek/status/1102272038411137025

[2019-03-10 16:06] ansarizafar commented on #122
Is there any progress on this issue?

[2019-03-16 14:53] itaisteinherz opened #138 "Add `string.url` predicate"
In some cases, being able to verify that a given string is a valid URL can be useful (e.g. sindresorhus/npm-name#33). This could be implemented similarly to sindresorhus/is#73.

[2019-03-18 17:46] sindresorhus commented on #138
Yeah, could be useful. We can just use the `@sindresorhus/is` method here.

Wanna try doing a PR?

[2019-03-18 20:01] bartcallant opened #139 "`object.exactShape` validator thows incorrect error when using nested object"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/sindresorhus/ow/issues/139/badge.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/139)

When I define a validator which uses the `exactShape` predicate. It throws an `Cannot convert undefined or null to object in object` argument error.

Since I've used the `exactShape` before, I tried multiple cases:

Starting from the example in the

[2019-03-19 13:24] itaisteinherz commented on #138
@sindresorhus Sure 👌🏻

[2019-03-31 15:43] sindresorhus commented on #104
We should look into whether we can use any of these new features: https://devblogs.microsoft.com/typescript/announcing-typescript-3-4/

[2019-03-31 15:44] #138 closed

[2019-04-01 08:12] #135 closed

[2019-04-23 06:19] SamVerschueren opened #143 "dist directory is not correctly generated"
I noticed that currently the `dist` directory is generated incorrectly, probably due to some changes that were made regarding directory structure etc.

This is what the `dist` directory looks like at the current released version
![image](https://user-images.githubusercontent.com/1913805/56558802-25829b80-65a0-11e9-9bc3-5652566142cc.png)

This is what it looks like right now
![image](https://user-i

[2019-04-24 05:45] SamVerschueren commented on #24
Ugh, this is what I end up with

![image](https://user-images.githubusercontent.com/1913805/56635114-b327bf00-6664-11e9-8d21-95db97c45fd1.png)

Probably because the bundle contains all of the `node_modules` etc.

I still believe this is the best way to test `ow` to be sure the bundle we ship works. But this looks ugly...

[2019-04-24 09:35] ansarizafar commented on #103
@sindresorhus Any update on this issue?

[2019-04-29 07:20] #143 closed

[2019-04-29 12:11] SamVerschueren commented on #103
How would that API look like?

[code]

[2019-04-30 07:18] sindresorhus commented on #24
Alternatively, we could keep the tests as is, and just add one validation test that that bundle works. We don't really need to run *all* tests on bundle, right?

[2019-05-10 15:01] kaatt opened #147 "TypeScript optional function argument throws error TS2345 with `ow.optional.function`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/sindresorhus/ow/issues/147)

[code]

The above code throws this error:
[code]

Not sure what's wrong here. Is it a bug with `ow`'s typings?

This workaround works:
[code]

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $40.00)

- [<img

[2019-05-12 08:23] #40 closed

[2019-05-12 08:58] #139 closed

[2019-05-12 09:09] sindresorhus commented on #136
Went with #129 instead.

[2019-05-12 09:09] #136 closed

[2019-05-14 05:30] hastebrot opened #148 "Predicates for "not undefined" and "optional not undefined""
I tried to define a shape predicate to check the values of a `node` created by [`d3.hierarchy()`](https://github.com/d3/d3-hierarchy/tree/v1.1.8#hierarchy). `node` has a `data` property which can be any type (e.g. `undefined`, `null`, `object`, `string`). As this property can be anything we might not need a validator for this, however I wanted to keep it in `object.exactShape()` for documentation

[2019-05-14 05:34] hastebrot commented on #148
Maybe `ow.not` can be introduced:

[code]

Then again, my usecase might be too specific. Are there any other usecases where `ow.not` might be useful?

[2019-05-18 12:23] #94 closed

[2019-05-31 10:43] kainiedziela commented on #101
Any further work being done on this issue? The proposed PR doesn't pass tests. I'm inclined to pick this up.

[2019-06-01 12:09] alexnoz commented on #101
@kainiedziela the project's structure has changed since the PR was opened, so it's slightly outdated, I'll revisit the PR and update it tomorrow.

[2019-06-03 07:41] liamaharon opened #151 "ow bundle is not ES5 compliant"
Ow doesn't appear to transpile to ES5, which can cause issues when a project using ow minifies their code with uglify.

I'd be happy to open a PR for this if the maintainers are onboard

[2019-06-03 07:51] sindresorhus commented on #151
It's up to you to transpile it with Babel if you want to support older browsers.

If you use Webpack, check out [`babel-engine-plugin`](https://github.com/SamVerschueren/babel-engine-plugin), which transpiles only the dependencies that needs to be transpiled.

If you use Create React App, upgrade to [Create React App v2](https://reactjs.org/blog/2018/10/01/create-react-app-v2.html). It supports au

[2019-06-03 07:51] #151 closed

[2019-06-03 07:51] sindresorhus commented on #151
You should use https://github.com/terser-js/terser instead of Uglify.

[2019-06-03 08:09] liamaharon commented on #151
Thanks @sindresorhus.

I'm trying to avoid terser if possible because I'm using ow in a JS library which I would like to keep compatible with projects that use uglify.

I'll look into setting up our build config to only transpile the ow node module, appreciate those links.

Out of curiosity, what's the reasoning behind not releasing the bundle in ES5? Some people including the authors of rollup en

[2019-06-03 08:15] sindresorhus commented on #151
I don't target older browsers, so I have no interest in adding lots of boilerplate and build steps to my packages for that. And what would I target? Where do I set the limit? Should I support IE10? IE11? What if those IE versions require a lot of heavy polyfills? Then people targeting newer browser only have to pay for that needlessly. It's IMHO better for projects to transpile everything to exact

[2019-06-03 23:21] liamaharon commented on #151
That's a good point, appreciate you taking the time to write it up.

BTW big fan of your open-source work, thanks for everything you do!

[2019-06-20 11:29] sbencoding commented on #147
Hi!
I can't seem to re-create the error.
[code]
The above code doesn't throw any errors for me.
Maybe your options object that you pass to `test` doesn't look like this, so that's maybe where I'm wrong

[2019-06-30 18:23] qti3e commented on #147
@kaatt It happens because you're using `strictNullChecks`, I will open a PR with a possible fix.

[2019-06-30 18:40] qti3e commented on #147
After some more digging, I realized it's somewhat the expected behaviour.
But you can use the non-null assertion operator. (`!`)
[code]

[2019-07-30 09:45] derblitz opened #155 "Check if string is email address"
What is the recommended way to check if a string is an email address?

[2019-08-27 17:06] Rokt33r opened #157 "Babel plugin for inference of labels"
I think labels can be inferred from anywhere via babel plugin.

[2019-08-28 11:53] Rastopyr commented on #148
Hi guys,

i just create PR with `not` modifier: https://github.com/sindresorhus/ow/pull/158

[2019-10-02 16:09] sindresorhus opened #159 "Add support for the new `asserts` keyword in TS 3.7"
When it's out: https://devblogs.microsoft.com/typescript/announcing-typescript-3-7-beta/

[2019-10-19 10:37] Riim opened #160 "Not working in browser"
`Error: Can't resolve 'fs' in './node_modules/ow/dist/source'`

Section `browser` in `package.json` is not actual.

[2019-10-19 11:00] Riim opened #161 "ow identification method"
`joi` has a field `isJoi=true`. Is there an analog in `ow`? Maybe use `isPredicate` for this?

[2019-10-19 14:37] Riim commented on #161
Until found such way to:
[code]

[2019-10-19 15:09] Riim opened #162 "Alias `.of` for `.ofType`"
`ow.array.of(ow.string)`
clearly better than
`ow.array.ofType(ow.string)`

[2019-10-19 15:16] Riim opened #163 "Nullable modifier"
`ow.nullable.string`
instead of
`ow.any(ow.string, ow.null)`

A generic modifier for `|null|undefined` would also be useful. Maybe it is better if `optional` will also allow `null`? In most cases, you need `|null|undefined` and `|null`. Separately, `|undefined` is needed almost never.

[2019-10-20 10:52] sindresorhus commented on #163
We are unlikely to add this as we feel `null` should not be used in general. See: https://github.com/sindresorhus/meta/issues/7

[2019-10-20 12:56] Riim commented on #163
1. It is not always possible to refuse null. For example, I check the server response and GraphQL really likes to send null. My server developer are unlikely to be inspired by the idea of abandoning null.
2. Sometimes it is possible to use null to your advantage. Example: undefined - data was not requested from server, null - requested, there is no data. This works great for me.
3. It is unlikely

[2019-10-21 12:15] mnmkng commented on #163
I'd also like to support the idea of having a `nullable` validator. Even though I generally agree with https://github.com/sindresorhus/meta/issues/7, `null` is out there in the wild and since dynamic type-checks mostly exist for validating input that is provided at runtime, I feel that we can't just discount `null` on the basis of code-style preference.

Originally, I wanted to submit an issue to

[2019-10-21 22:25] Riim commented on #163
Sorry for my english and my persistence.

Why not use the following syntax instead of `any`:
[code]
?
This allows you not to break your fingers once again by typing brackets and solves the problem with null:
[code]

It is also not clear why need the types for `int8Array`,` uint8Array`, `nan`, etc.? Such libraries are usually used at the junction of code bases. Like the following:
1. The client par

[2019-11-07 20:34] #101 closed

[2019-11-07 21:18] sindresorhus commented on #159
It's out now: https://devblogs.microsoft.com/typescript/announcing-typescript-3-7/#assertion-functions

PR welcome :)

[2019-11-12 07:09] sindresorhus opened #165 "Run TS as a require hook for tests instead of precompile"
I tried to do it in https://github.com/sindresorhus/ow/pull/131, but I could not make it work.

[2019-11-12 07:35] sindresorhus commented on #163
I have changed my mind. It does indeed make sense to add this here as you can't control what other APIs use. PR welcome.

[2019-11-12 07:38] sindresorhus commented on #163
You should still open an issue about this for other use-cases. We've tried to keep the messages consistent, but I'm sure we missed some cases.

[2019-11-12 08:33] sindresorhus commented on #155
We intentionally left this out: https://github.com/sindresorhus/ow/pull/15#discussion_r147329494

It's very hard to do this correctly. The email grammar is extremely complex and ambiguous. Your best bet is to just do `string.includes('@')` and then validate that the email actually exists: https://www.google.com/search?q=validate+email&oq=validate+email&aqs=chrome..69i57j0l4j69i65.1686j0j1&sourceid

[2019-11-12 08:34] sindresorhus commented on #157
It could, but not sure it's worth the added complexity of having to add a Babel plugin, even if optional.

[2019-11-12 08:34] sindresorhus commented on #160
What does this mean?

[2019-11-12 08:34] sindresorhus commented on #161
What problem are you trying to solve?

[2019-11-12 08:45] sindresorhus commented on #162
I'm not interested in adding aliases. That just leads to inconsistent code.

I don't remember exactly why we went with `.ofType`. It might have been because `ofType` accepts any predicate, so `ow.array.ofType(() => …)` is clearer than `ow.array.of(() => …)`.

I'll leave this open for other people to comment their opinion.

[2019-11-12 09:57] sindresorhus commented on #163
I don't remember exactly why we didn't do it this way. It does look nice, but there are ambiguous cases:

[code]

Does this mean it accepts
`(ow.string.length(3) && string.uppercase) || string.includes('f')`
or
`(ow.string.length(3) && (string.uppercase || string.includes('f'))`
?

[2019-11-12 11:50] Riim commented on #163
In [omyumyum](https://github.com/Riim/omyumyum#readme) i use `.custom()` to transfer priority to `.or`. For example, an object may contain either a field `age` or field `birthday`:
[code]

[2019-12-26 05:16] bjmiller commented on #160
I'm getting the same error.  I'm using webpack, which may explain why `fs` is thought to be available when it isn't.

[2019-12-30 22:23] antixrist opened #167 "export `ArgumentError` from package"
Hi! Thank you for `ow`!

Could you export `ArgumentError` class from package?

Yes, I can check the error's type by `err.name === 'ArgumentError'` but this stands out from the approach adopted by our team. Schematically:
[code]

It would be cool to use `ArgumentError` like this:
[code]

In addition, we get the possibility of static analysis and instead of searching by all project by "ArgumentError

[2020-01-01 22:19] sindresorhus commented on #167
Yeah, we could do that. Out of curiosity, why are you catching `ArgumentError`?

[2020-01-08 15:31] drobnikj opened #168 "Using ow across npm modules"
Hi, thank you for this amazing tool!

I found an issue that I can not use ow across npm modules.
This is the code in my utils module
[code]

The other npm module
[code]
The code ends with error `TypeError: n[a.testSymbol] is not a function`

Any idea how to avoid this issue?

[2020-01-09 08:33] drobnikj commented on #168
I got it now. Because you can globally register validator using ow.create(), it doesn't make sense to mix two instances of ow.

I solve it to export ow from utils modules.
Updated code:
This is the code in utils module
[code]
The other npm module
[code]

[2020-01-09 08:33] #168 closed

[2020-01-09 20:59] 6XGate commented on #160
@Riim probably means the path referenced by the `browser` field in `package.json` doesn't actually exist, which appears to be true.

Attempting to use this package in a browser via _webpack_ will result in the error about the node `fs` module not existing.

[2020-01-14 06:45] hilezi commented on #160
ran into the same issue.

reproduce:

1. `mkdir ow-fs-error && cd ow-fs-error`
1. `npm init`
1. `npm i typescript webpack webpack-cli ts-loader -D`
1. `tsc --init`
1. create webpack.config.js
1. create src/index.ts
1. `webpack --mode development`

![image](https://user-images.githubusercontent.com/1500206/72320046-d1928680-36db-11ea-9290-8628069a125e.png)

src/index.ts

[code]

webpack.config.js

[2020-01-17 12:52] hilezi opened #169 "how to get Error directly from ow(true, ow.boolean.false)"
Hello, thank this excellent module come to this world. Make much convenient!

I want to send error.message to Google Analytics, now I use this workaround:

[code]

How can I write much simpler? like

[code]

[2020-01-25 05:01] mvila opened #170 "'dev-only.js' is not published"
As mentioned in the README, I tried `require('ow/dev-only')` to get a shim when running in production, but I got the following error:

[code]

 It looks like `'dev-only.js'` is not included in the published package.

[2020-01-25 12:23] #170 closed

[2020-02-07 16:14] jeremyben opened #171 "Wrong typings for `array.ofType` used with `any` predicate"
Hi, thank you for your very intuitive validation lib. Tested a lot of them and yours got the most approvals from my team. 👍

I ran into a typing issue, not a blocking one, since it works as expected during runtime, but the compiler is not happy with it :

`ow(['a', 1], ow.array.ofType(ow.any(ow.string, ow.number)))`

![image](https://user-images.githubusercontent.com/8047987/74044804-fb358980-49cb

[2020-02-13 19:06] #160 closed

[2020-02-13 19:06] #167 closed

[2020-02-13 19:06] #171 closed

[2020-02-13 19:13] sindresorhus commented on #169
We don't have a method for that, but it sounds useful, so PR welcome. It could also be useful if you need to augment the error object in some way before throwing.

[2020-02-19 21:29] NavidMitchell opened #172 "SyntaxError: invalid regexp group"
This may be completely unrelated to your project. I have tried to include your library into my project which is a vue.js app built with vue cli and using typscript. After importing your library when I launch my project I just get the following error in my console.

SyntaxError: invalid regexp group    chunk-vendors.js:1:7

If I remove the usage of the ow library it goes away. Any help would be app

[2020-02-22 11:57] sindresorhus commented on #122
For anyone that wants to work on this, see the initial attempt and feedback in https://github.com/sindresorhus/ow/pull/156.

[2020-02-22 11:58] sindresorhus commented on #148
For anyone that wants to work on this, see the initial attempt and feedback in https://github.com/sindresorhus/ow/pull/158.

[2020-02-24 23:05] plastikfan opened #175 "Are the predicates in this lib, Typescript predicates??"
I have been reading the code and documentatin for what seems like ages now and I can't tell if the predicates defined are Typescript predicates. As far as I can see, it looks like they are not, but being relatively new to typescript I can't tell (the reason I say this is I can't find the use of the 'is' keyword in the return type of a function). IE can the use of ow predicate be used to narrow dow

[2020-02-29 12:15] plastikfan commented on #175
What I was looking for is actually https://github.com/sindresorhus/is. Nuff said.

[2020-02-29 12:15] #175 closed

[2020-03-01 10:52] sindresorhus commented on #175
@plastikfan That's intentional. I was waiting for type assertions, which are more fitting for Ow. I've made it clear in the readme now.

[2020-03-03 11:06] SamVerschueren commented on #5
I want to pick this one up as I need it :). Will try to assign some of my time to it.

[2020-03-06 15:55] neptunelabs commented on #172
I'm experiencing the same error after updating ow to version 0.16.0 in my project.

0.16.0 and 0.17.0 work fine in Google Chrome, but not in Firefox (error:"SyntaxError: invalid regexp group") nor in Edge (error: "Expected identifier, string or number").

0.15.1 is the last version running without syntax errors in my project with all browsers.

Regretfully I can't tell exactly where the error occu

[2020-03-06 16:20] sindresorhus commented on #172
The only place we use a regex not supported by Firefox is: https://github.com/sindresorhus/ow/blob/b2285d0d4fe59def762bd989cab067d8d9b66eab/source/utils/infer-label.ts#L7

But that file is excluded for browser use: https://github.com/sindresorhus/ow/blob/b2285d0d4fe59def762bd989cab067d8d9b66eab/package.json#L80-L82

Which makes it sound like Vue CLI doesn't respect the `browser` field. If that's t

[2020-03-06 16:37] neptunelabs commented on #172
Thanks for the reply!
I don't use  Vue CLI, but webpack CLI (version 3.3.11).
So it looks like webpack doesn't support the conditionals in the "browser" section of your package.json either.

[2020-04-11 02:43] jorcalle11 commented on #172
Hey there!

I got the same error when tried to deploy a serverless function to GCP. This is how the error looks like

[code]

Platform: node 8
ow version: 0.17.0

[2020-04-11 02:59] jorcalle11 commented on #172
Never mind, I just saw in the releases section that versions higher to **v0.15.1** have breaking changes with the node version. It requires **Node.js 10** or higher.

I downgraded the version on my project to **v015.1** and I could deploy my function without a problem. Thanks for doing this package.

[2020-04-17 22:28] mnmkng commented on #160
I'm still seeing this error with `ow@0.17.0`. Any tips?

[code]

[2020-04-18 09:45] mnmkng commented on #160
Ok, I'm no Webpack expert by far, actually I know almost nothing about it, but I feel the reason why it doesn't work is this:

`ow` is distributed as a compiled `index.js` with typings. Even though the `browser` field in `package.json` says that Webpack should replace `./dist/source/utils/infer-label.js` with `./dist/source/utils/infer-label.browser.js` there's no way it could do it, because the f

[2020-04-29 18:36] GentileFulvio commented on #169
What is the status on this issue ? Otherwise i'd like to have a look at it

[2020-04-30 16:41] hilezir commented on #169
Hello @GentileFulvio, I have a PR #176, and I am not sure why codecov -0.11%. and it #176 is the last commit.

[2020-05-06 09:02] sindresorhus commented on #172
That would be surprising as Webpack popularized the `browser` field. I would open an issue on Webpack about this.

[2020-05-13 05:22] nullfame commented on #172
@neptunelabs, did you ever file this elsewhere?

Also experiencing this issue with Vue CLI 4.3.1 (2020-04-07).  Would gladly contribute a fix.  The pragmatic side of me says changing this one line in this one package is the easiest.  Replacing ow in my repos is next easiest.  Getting Babel or Vue to change is the least likely to resolve in the near-term.

[2020-05-13 09:18] neptunelabs commented on #172
**@nullfame:** I didn't file this anywhere else except here.
As you can see here @sindresorhus suspects the problem in Webpack and Vue not supporting conditionals in the "browser" section of the package.json properly.
I didn't dig deeper into this yet and stick with version 0.15.1 for now.

[2020-05-24 17:18] mnmkng opened #178 "Printed trace is confusing"
When using `ow` with Node 12 and an unhandled exception occurs, the following is printed to the console:

[code]

I find the first two lines confusing and obfuscating the actual argument validation message. There's also an extra `a` before the `[ArgumentError]:` and the first line in the stack trace does not point to the location of the validation problem.

Is there a way to clean this up a bit? I

[2020-05-25 04:13] sindresorhus commented on #178
For some reason, the code is being minified at build time. That's why the stack trace looks ugly. It didn't used to be minified, so I'm not sure what changed.

[2020-05-29 15:27] rauschma opened #179 "Tuple types in Ow?"
What is the best way to check for the tuple type `[string, number]` in Ow?

This is the best that I can come up with:

[code]

[2020-05-29 15:30] rauschma opened #180 "Documentation bug?"
https://sindresorhus.com/ow/classes/arraypredicate.html#deepequal

Documentation:

[code]

Source code:

[code]

The source code is what I’d expect. `keyof T[]` seems wrong in this context.

[2020-05-29 15:37] rauschma opened #181 "Static type error for `ow.object.valuesOfType()`"
The following doesn’t seem to work for me:

[code]

[2020-06-01 19:06] sindresorhus commented on #180
This looks like a bug in [TypeDoc](https://github.com/TypeStrong/typedoc), the thing we use to auto-generate the docs. I'll open an issue over there when I have some time.

[2020-06-02 06:09] sindresorhus commented on #181
I think we need to do the same as https://github.com/sindresorhus/ow/commit/ec59a5c59664d253854ff06d66c8d66ec4336cef here too.

[2020-06-03 08:35] sindresorhus commented on #179
That is the best you can do right now. You could also use a custom validator with `ow.array.validate(…)`. But I agree it would we useful to have a built-in validator for this. What would be the ideal API? Maybe something like `ow.array.exactShape([ow.string, ow.number])`?

[2020-06-03 12:22] rauschma commented on #179
Using the same method name as `ow.object.exactShape()` seems like the right approach, yes.

[2020-06-09 20:45] ilkerceng commented on #181
hi @rauschma, i couldn't generate the error,  i have just tested it with:
[code]
it doesn't give me any error. Am i missing something?

[2020-06-09 20:49] rauschma commented on #181
@ilkerceng Did you try the exact line I mentioned? That’s the only information I have, sorry!

[2020-06-09 20:56] ilkerceng commented on #181
@rauschma Yep. I have just tried it the line your mentioned with ow@0.17.0. And it doesn't give any error.

[2020-06-09 20:58] rauschma commented on #181
OK, then I must have done something wrong. Thanks for checking, sorry for the noise!

[2020-06-09 21:08] ilkerceng commented on #181
Thanks.

[2020-06-29 22:17] drortirosh opened #182 "ow can't work with "next" framework."
### To Reproduce:

- `yarn create next-app`
- edit pages/index.js
- add `import ow from "ow"`
- `yarn dev`

See error:
[code]

### Root cause:
Internally, "ow" uses "fs" module when used in "node" environment.
It was supposed to be disabled when used in a browser environment, but it doesn't work with Next.
strangely, it does work correctly when added into plain "react" app (e.g. created with `yarn

[2020-06-30 06:21] sindresorhus commented on #182
I would open an issue on Next.js. There's not much we can do here. We need `fs` in Node.js and we have correctly excluded it for browsers per convention: https://github.com/sindresorhus/ow/blob/b2285d0d4fe59def762bd989cab067d8d9b66eab/package.json#L80-L82

[2020-08-04 08:33] dbclkclk opened #183 "how to add a predicate to ofType"
I've try doing

1. ow.array.ofType((val) => { .... });
2. ow.array.validate({validator: (val) => {} }

It always throws an error related to the parameter being sent to my callbacks. Thoughts?

[2020-09-29 22:46] sindresorhus commented on #169
If anyone wants to work on this, see the initial attempt and PR feedback: https://github.com/sindresorhus/ow/pull/176

[2020-09-29 23:34] sindresorhus opened #188 "Add a `.catching()` method to Predicate to allow nesting ow validators"
If anyone wants to work on this, see the initial attempt and feedback in https://github.com/sindresorhus/ow/pull/154.

[2020-09-30 11:10] #122 closed

[2020-09-30 11:47] #181 closed

[2020-10-04 18:57] RocktimSaikia opened #189 "Logs the enitre source file when throwing an error."
Whenever ow throws an error it logs the entire minified source file `dist/source/index.js`.But It also does throw the expected error at the end too. Initially, I thought it was because of my node version since I was using the latest 14.13.0 version. So I tried with the LTS version but the result is the same.

[2020-10-04 19:12] sindresorhus commented on #189
It started happening after a new version, so I suspect it's because of changes in TypeScript or Webpack.

[2020-10-14 20:03] GentileFulvio commented on #5
Any progress on this one ? @SamVerschueren are you still on this issue ? Seems like a nice feature and fun pretty fun to check it out. Question is do we want this as default behavior or should there be some config triggering this behavior ? It seems like a breaking change though if we default

[2020-10-17 16:12] sindresorhus commented on #5
It should be the default. We can consider making it opt-out if someone complains.

[2020-10-22 13:44] av-pinzur commented on #160
### Another Workaround

Our team solved this issue by adding the following to our Webpack configuration:
[code]

[2020-10-29 19:51] #147 closed

[2020-11-04 15:31] khkiley opened #191 "Type definition error, expression is not callable."
This is probably a noob issue.

I'm using VSCode, new install of ow.

This script results in the red squiggly line showing up under 'ow' in "ow(5,"

[code]
Hovering over the red squiggle, the error reported is:

This expression is not callable.
  Type 'typeof import("c:/The Path to the installed modules/node_modules/ow/dist/source/index")' has no call signatures.

I'm getting other type errors ref

[2020-11-22 00:06] SoMuchSpace commented on #160
Fix for webpack 5:

Add package `process` (webpack 5 does no longer include a polyfill for this Node.js variable):

`npm install process --save-dev`

and add this to config:

[code]

[2020-11-23 22:51] vladfrangu commented on #5
Hey! I think I'll actually look into this tomorrow (and include a fix for that TODO 👀) if that's ok. Is anyone else working on this? If so, I don't wanna step over their work

[2020-11-24 01:27] sindresorhus commented on #5
No one is working on this. Just know that this issue has a bounty, so it's expected that you to do a good effort and think through the problem thoroughly. Also tests and docs.

[2020-11-28 07:42] #189 closed

[2020-11-28 07:42] #191 closed

[2020-11-28 07:42] #24 closed

[2020-11-28 07:42] #172 closed

[2020-11-28 07:42] #182 closed

[2020-11-28 07:57] sindresorhus commented on #191
See: https://github.com/sindresorhus/ow/releases/tag/v0.20.0

[2020-11-28 07:58] sindresorhus commented on #178
This should be fixed by https://github.com/sindresorhus/ow/releases/tag/v0.20.0

[2020-11-28 07:58] #178 closed

[2020-12-06 17:22] mnmkng opened #193 "Improve performance and document performance tips"
Are there some low hanging fruits to improve performance? `ow` seems to be about **15 times** slower in validation than pure JS. I understand that some slowness is obviously expected, but 15 times slower makes me think this could be a bug rather than a design limitation.

[code]

I'm using `ow@0.20.0`

**Repro code:**

[code]

It is a problem for us because we use `ow` to validate user provided ob

[2020-12-06 17:29] mnmkng commented on #193
Hmmm, immediately after submitting this I got an idea that the label inference might be the culprit and it surely is:

[code]

[code]

[2020-12-06 21:33] mnmkng commented on #193
Another potential improvement lies in the execution of `ow.object.partialShape()` and `exactShape()` functions. It seems from testing that no matter how many properties there are in the validated object, those functions still iterate over all the properties in the provided `shape`.

Example of our validation:

[code]

By refactoring to the custom validation loop below, we got a 3-4 times speed inc

[2020-12-10 02:24] mmkal opened #195 "`Ow` instances are mutable"
This can lead to some pretty strange behaviour:

[code]

Many users won't hit this because `ow.array` and all the other props return a new value every time they're accessed. This should probably be documented at a minimum, but I wondered if there'd be any interest in a refactor to make the `Predicate`s and their `validators` immutable, and replace `addValidator` with `withValidator` or similar whi

[2020-12-19 17:14] #159 closed

[2020-12-19 17:42] sindresorhus commented on #195
I'm totally open to making it immutable.

[2020-12-22 13:50] sergeyblohin opened #196 "Method ow.object.exactShape does not work in ow versions higher than 0.19.0"
Justification
Method ow.object.exactShape does not work in ow versions higher than 0.19.0

Steps for reproduce
Install ow version 0.20.0 or 0.21.0

Code for reproduce

[code]

[code]

But, if I use ow version 0.19.0, then all work correctly.
What I do wrong?

[2020-12-22 15:03] sindresorhus commented on #196
// @mmkal

[2020-12-22 17:14] mmkal commented on #196
My changes in #194 went in as v0.21.0 (i.e. after this started happening).

@sergeyblohin Likely you just need to update for the breaking change in the import style: https://github.com/sindresorhus/ow/releases/tag/v0.20.0

[code]

[2020-12-22 20:38] sergeyblohin commented on #196
@mmkal, Thank you!
After changing require method from `const ow` to `const {default: ow}`, everything worked.

[2020-12-22 20:38] #196 closed

[2020-12-26 10:33] sindresorhus commented on #193
Yeah, it's slow because it needs to read the file from disk and parse it. Label inference is only called when something fails though, which should not be that often for normal function parameter validations calls, which is what Ow was originally intended for. I guess we could add a `Performance` section that outlines the trade-offs.

[2020-12-26 10:35] sindresorhus commented on #193
I think this is just an oversight that could be fixed. I don't see how it matter if they're getters/setter.

[2020-12-28 06:54] SamVerschueren commented on #193
The reason it loops over all the properties of the shape instead of all the properties of the input object is because it expects all properties of the shape to be present in the input object. If you turn it around, you can't detect that property `unicorn` does not exist in the input object for instance.

[2020-12-28 10:27] mnmkng commented on #193
@sindresorhus In the provided example, nothing fails, yet the speed of validation improves 10-fold without inference. Maybe a bug somewhere and the inference is always called?

And yes, we use `ow` for function parameter validation calls. The call looks like this:

[code]

Only `url` is mandatory. All other props are optional.

@SamVerschueren Yes, that's right. But for `optional` properties there

[2020-12-30 12:01] sundaycrafts opened #197 "Retrieve expected type `ow` validated"
I'm sorry if it had already discussed but I thought it would be great if ow has a function to retrieve the type ow validated like a [Superstruct's infer](https://docs.superstructjs.org/api-reference/typescript#infer).

Is it already planned? Or maybe it is not this project's goal🤔

[2021-01-06 09:41] sindresorhus commented on #197
I think that could be useful.

[2021-01-08 17:21] #5 closed

[2021-01-08 17:27] sindresorhus commented on #157
Passing on this.

[2021-01-08 17:27] #157 closed

[2021-01-08 17:52] sindresorhus commented on #180
Fixed: https://sindresorhus.com/ow/classes/arraypredicate.html#deepequal

[2021-01-08 17:52] #180 closed

[2021-01-18 08:55] mnmkng commented on #193
Hi @sindresorhus @SamVerschueren just wanted to bring to your attention that the validations above are about 15 times slower in `ow@0.22.0` than in previous versions.

I might be able to work on this, at some point this quarter so if it's not critical for you, let me handle this in February or so. We'll keep using `0.21.0` for the time being.

[2021-01-18 09:16] sindresorhus commented on #193
// @vladfrangu FYI

[2021-01-18 09:16] sindresorhus commented on #193
@mnmkng That would be really great. 🙏

[2021-01-18 09:30] vladfrangu commented on #193
That's... odd, that shouldn't be the case, unless generating the error message causes this slowdown (which would probably make sense if your schema is very complex and there's a LOT of errors)...

Any benchmarks or performance reports you could share? 🙏 Reproduction samples that I could benchmark? 😓

[2021-01-18 09:41] mnmkng commented on #193
@vladfrangu See the thread above for examples.

In real life, it's this test: https://github.com/apify/apify-js/blob/11ff217a2af12cbb900b6de827de710dad030786/test/request.test.js#L123 On 0.22 it runs in 450+ms for me locally, whereas with 0.21 it runs in ~30ms.

[2021-01-18 10:00] vladfrangu commented on #193
Will try to shoot an eye later this week, could you also link me the schemas you have, please? 🙏
I haven't noticed such a big speed downgrade locally... but my gut says its the message generation thats causing the biggest slowdown

[2021-01-18 12:03] mnmkng commented on #193
Sure, the predicates are here: https://github.com/apify/apify-js/blob/11ff217a2af12cbb900b6de827de710dad030786/src/request.js#L19

And the validation code is here: https://github.com/apify/apify-js/blob/11ff217a2af12cbb900b6de827de710dad030786/src/request.js#L107

We're using the workarounds that I explained in the above comments to speed up the validation.

[2021-01-19 15:55] vladfrangu commented on #193
@mnmkng so.. I'm in a bit of a predicament right now, as this issue completely amazes me.

Since you mentioned there's a possible performance regression in 0.22.0 (ala the "report all errors in the message" version), I reset my local master branch of ow to upstream, cloned apify, nuked all tests, except the one you mentioned, and ran it. And ran it again, and again... you get the gist. I've tinker

[2021-01-19 16:13] mnmkng commented on #193
@vladfrangu Thanks for all the work you clearly dedicated to this, but I'm not sure how Jest is relevant. Your tables clearly show that there's a ten-fold or higher slowdown between 0.21.0 and 0.22.0 (or 23).

Yes, the Jest numbers are higher, because Jest instruments code and does whatever magic, but the issue is exactly the same without Jest, as your own numbers prove. I.e. from 23ms to 271ms in

[2021-01-19 16:34] vladfrangu commented on #193
Oh..my..god.

Found the culprit. Turns out, generating the stack trace when it's not needed is QUITE AN EXPENSIVE OPERATION!! (aka I dropped from 52.73ms to 3.239ms by just making the function return null) Expect a PR soon!

[2021-01-19 18:53] #179 closed

[2021-01-22 08:12] taylorjdawson commented on #188
@sindresorhus what needs to be done to complete this, just change the method name?

[2021-01-22 09:33] taylorjdawson opened #200 "Add option to override/remove type label in error message"
Currently when a predicate is failed by returning a message the type is pre-pended to to the message like so:
[code]
and if a custom label is added:
[code]
I would love the option to override/remove as I want to send this error message back to the client and having the type there would be context leak e.g. the client has no need to know backend type implementations.

[2021-01-22 16:00] sindresorhus commented on #188
Change method name, address feedback in that PR, and improve the docs.

[2021-01-22 18:50] sindresorhus commented on #200
Any suggestions on how to best resolve this?

[2021-01-22 19:27] taylorjdawson commented on #200
What about the option to call `ow` without a type?
[code]

[2021-01-23 11:12] hans-hsieh-asus opened #201 "undefined and null aren't handled properly by ow.object"
# Step to reproduce
[code]
# Expected Behavior
Throw `ArgumentError` (defined in `ow`)
# Actual Behavior
Throw `TypeError`

[2021-02-02 21:30] taylorjdawson opened #205 "Return array of errors throw in `ow.any`"
Currently when using `ow.any` if all of the predicates fail we get 1 giant string of all of the errors that the predicates threw. It would be nice if the `ArgumentError` could have an array of all of the errors that get thrown but **without** the `Any predicate failed with the following errors:` string appended to it. I see that `ArgumentError` does have a `validationErrors` property but those err

[2021-02-02 21:33] #205 closed

[2021-02-07 19:35] jmm commented on #91
None of the linked issues appear to be pending. Is there anything in particular keeping this from being released as v1 now?

[2021-03-14 22:41] nnmrts commented on #196
@sindresorhus This is also the case when using `import ow from "ow"`, at least for me. I use Node.js 15, the newest version of ow and have a `"type": "module"` in my package.json. The imported package still is an object with `default` on it instead of the ow function directly. Please reopen this.

[2021-03-21 16:37] nnmrts commented on #196
I made a fork here btw, converting the whole project to js: https://github.com/pumpncode/ow

With this I can import normally again. I also created a PR: #207

Thoughts @sindresorhus?

[2021-03-30 16:39] mnmkng opened #208 "ow.object.exactShape does not treat undefined values correctly"
## What happens:
[code]
Throws:
[code]

## Expected behavior:
Even though I understand that there's a difference between those two objects:

[code]

I believe that for the purposes of argument validation they are the same and the error message "_Did not expect property `bar` to exist, got `undefined` in object_" does not make sense to me. I would expect the original code to not throw.

If accepted

[2021-04-25 14:33] sindresorhus opened #209 "Add `method` helper"
See https://github.com/sindresorhus/ow/pull/202 if anyone wants to continue that work.

[2021-05-28 16:41] sounisi5011 opened #210 "ow.create does not return an Assertion Functions type / `asserts` annotation is missing"
Currently, `ow()` funciton is of type Assertion Functions.

https://github.com/sindresorhus/ow/blob/f26115d48523933f061526b44eb421db322556db/source/index.ts#L31-L46

However, the `ReusableValidator` returned by `ow.create()` is not an Assertion Functions type.
`ReusableValidator` returns a `void` type!

https://github.com/sindresorhus/ow/blob/f26115d48523933f061526b44eb421db322556db/source/index.t

[2021-06-02 03:35] wafuwafu13 commented on #201
error detail

[code]

[2021-06-04 05:28] #201 closed

[2021-06-05 09:35] #54 closed

[2021-06-06 11:12] wafuwafu13 commented on #88
This has already been solved in ow `^0.24.1`.

[2021-06-06 15:11] mdouglass commented on #88
You are correct, thanks @wafuwafu13!

[2021-06-06 15:11] #88 closed

[2021-07-07 17:25] SimonSiefke opened #215 "bug with esm"
The export default doesn't seem to work correctly with esm and throws an error: `TypeError: Cannot read property 'minLength' of undefined`

Reproduction Repo: https://github.com/SimonSiefke/ow-bug

[code]

<br>
<br>
<br>
<br>

For now i am using this workaround (which is a bit ugly):

[code]

[2021-07-13 15:12] vladfrangu opened #217 "Issue with ArrayPredicates and .any checka"
Hello, it's me again 👋

I've encountered an interesting issue with Predicates and `.any` checks.

Consider the following predicate:

[code]

This currently throws the following error, while running the code works and asserts it correctly:

![image](https://user-images.githubusercontent.com/17960496/125476786-2655b3f7-bf9f-42ca-bec8-0d10faea21f1.png)

Now, I don't know if this is not an intended us

[2021-07-23 13:08] szmarczak opened #218 "Do not use `type-fest`"
https://packagephobia.com/result?p=@sindresorhus/is@4.0.1,callsites@3.1.0,dot-prop@6.0.1,lodash.isequal@4.5.0,type-fest@1.2.1,vali-date@1.0.0

Just copy and paste https://github.com/sindresorhus/type-fest/blob/main/source/typed-array.d.ts

This way we'll save 133KB. It's A LOT.

[2021-07-23 13:18] szmarczak commented on #218
Also is `dot-prop` really needed?

[code]

[2021-07-23 13:21] sindresorhus commented on #218
PR welcome. Note that the dot prop implementation has some checks to prevent prototype pollution.

[2021-07-23 14:11] szmarczak commented on #218
[This](https://github.com/sindresorhus/dot-prop#usage) might be ambiguous:

[code]

It can be `foo.dot\\` + `dot` or `foo.dot` + `\\dot`.

[2021-07-30 09:25] marliotto commented on #215
I have the same problem with v0.27.0

[2021-08-11 22:20] jorisre opened #220 "Add a TypeScript utility for type inference"
The idea is to have the ability to extract typings from a schema. For example:

[code]

I can open a PR if that request is accepted ✌🏻

[2021-08-11 22:21] jorisre commented on #220
Oops, duplicated. Just saw: https://github.com/sindresorhus/ow/issues/197

[2021-08-11 22:21] #220 closed

[2021-08-12 20:29] jorisre commented on #197
@sindresorhus Regarding the expected API. Does something like that is good for you?

[code]

[2021-08-23 08:01] HaolinHom commented on #215
I have the same problem.

[code]

TypeError: Cannot read property 'ofType' of undefined

[2021-09-21 15:07] cpiber opened #222 "Bug: `isValid` wrong typing"
`isValid` always assumes the type of the value, because the first argument should be `unknown` (like it is for `ow` itself): https://github.com/sindresorhus/ow/blob/3728d9119a19e1a95cb58bebe602afd308c40630/source/index.ts#L39

Looking over the rest of the file, it seems this mistake was made in several places; `ReusableValidator` should probably also not use `T` for the value (and assert?)

[2021-09-22 11:13] sindresorhus commented on #222
Good catch. Would you be interested in doing a pull request to fix it?

[2021-09-22 11:14] cpiber commented on #222
Sure, give me a bit of time though please

[2021-09-22 11:29] #197 closed

[2021-09-22 12:39] cpiber commented on #222
So, I just got to it and I have a problem: Ideally `ReusableValidator<T>` would also `assert value is T`, however typescript complains `Assertions require every name in the call target to be declared with an explicit type annotation.`. Do you happen to have a solution for that? I don't think it's elegant to have to explicitly them, and it's a breaking change...

[2021-09-23 09:32] Gerben-T opened #223 "Package does not seem to work on node v8 `SyntaxError: Unexpected token {`"
I get the following error after installing `"ow": "0.27.0"`
with node `v8.10.0`
and npm `6.14.15`

[code]

I this package officially supported for v8, because node v8 is a hard requirement for my project..

[2021-09-23 13:59] sindresorhus commented on #223
https://github.com/sindresorhus/ow/blob/3384c4eb1b9093a5efc0ea8ad7077e0e4a21f3b8/package.json#L16-L18

[2021-09-23 13:59] #223 closed

[2021-09-24 11:11] cpiber commented on #183
You need to pass in a valid validator, e.g. `ow.array.ofType(ow.string)`. It would be helpful to see your implementation of the callback if that isn't to your needs.

[2021-09-24 11:14] cpiber commented on #210
I have added something to help with this in #224. The problem why we can't simply write `asserts value is T` instead of `void` here is the same why the following exists:
https://github.com/sindresorhus/ow/blob/3384c4eb1b9093a5efc0ea8ad7077e0e4a21f3b8/source/index.ts#L122-L125

[2021-10-04 08:28] #222 closed

[2021-11-03 15:29] #215 closed

[2021-11-10 12:15] leaumar opened #226 "string.nonBlank validator"
I often miss having a `nonBlank` validator for strings. `nonEmpty` allows `" "` and other whitespace strings, which are usually just as invalid as `""`. Some other validators like `alphanumeric` double as non-blank, but have additional constraints that aren't always ok.

I use non-blank as terminology because of apache-commons StringUtils in java, it's short and clear. `nonWhitespace` is more unwi

[2021-11-10 12:56] leaumar commented on #226
On a related note, is this project not supposed to just work if you get the right node version and `npm install`? I can't find any further instructions in the repo.

[2021-11-15 16:15] #226 closed

[2021-11-24 20:40] natew opened #228 "Error running with metro bundler"
Seems like ow is trying to destructure `default` off import `callsites` here:

[code]

Causing this:

[code]

An interopRequireDefault type compat layer would be helpful.

[2022-01-11 12:38] DuredhelFinceleb opened #229 "generate objects from predicate"
Hi !

Let's say I have objects representing a DB record and I wrote this to validate them
[code]

How can I use this to generate new empty records?
The idea would be to create a function that returns a correctly initialized object
[code]

[2022-01-11 17:00] DuredhelFinceleb opened #230 "use browser-side"
Is it possible to use ow browser-side?
And using it simply, I mean with no webpack or whatever.
I'm on an old JavaScript codebase that's still using RequireJS even though I'm not limited by things like IE11 support it's just that the cost of refactoring all this to use modern tooling is estimated to be too high
Anyway, is there anyway to use ow in such a setup?

[2022-01-11 17:26] sindresorhus commented on #230
No, unfortunately not.

There are two main reasons:
- We need TypeScript 4.6 so the output can be ESM. (This will happen soon)
- TypeScript does not support outputting to a single file. (Probably not soon)

I would recommend looking into moving your project from RequireJS to native ESM though. You don't have to go all in on tooling for that. And it will make it much easier to adopt libraries in th

[2022-01-11 17:26] #230 closed

[2022-01-12 02:56] sindresorhus commented on #229
I think that's a bit out of scope for this package. Ow is meant for validation only.

---

Also, it's ambiguous in many cases which would be the correct value to return.

[code]

A user might be fine with the first value there, but they also might want to specify a custom default. It's a slippery slope for API bloat.

[2022-01-12 08:28] DuredhelFinceleb commented on #229
Yes it's ambigiguous and precisely the reason why I put it in my example 🙂

That being said, I did not meant for 'ow' to provide something like this.
I wanted to know if it is possible to build a function for my project which would allow me to construct an object from its definition. I guess I could test the type of the predicate for each property and set my default value accordingly. Then again f

[2022-01-16 04:55] ghost opened #231 "Unclear error message when checking NaN against the number type"
When testing `NaN` against `ow.number`, the following error message is emitted:
[code]
___

This behaviour can be verified by running this two line snippet in the Node REPL:
[code]
___

I think that this error message would be quite confusing for those who encounter it. I see two possible ways to solve this problem:
 * Change the error message in the `NaN` case to be something along the lines of:

[2022-01-16 05:07] sindresorhus commented on #231
I agree. That should be improved. I think we should do both suggestions.

[2022-02-21 14:17] panva commented on #231
@sindresorhus would you prefer the first suggestion to be a breaking change in `@sindresorhus/is` or a special case added to `ow`?

[2022-02-21 17:25] sindresorhus commented on #231
How would you fix it in `@sindresorhus/is`?

[2022-02-21 17:29] panva commented on #231
@sindresorhus change https://github.com/sindresorhus/is/blob/v4.4.0/source/index.ts#L112-L113

to

[code]

[2022-02-21 17:37] sindresorhus commented on #231
Ah yes. Let's fix it in `@sindresorhus/is`.

[2022-02-21 17:38] panva commented on #231
Ok, ignore #232 then.

[2022-02-21 17:38] sindresorhus commented on #231
See comment update.

[2022-02-22 16:36] ziflex opened #233 "Composition"
Hi guys, thanks for this amazing library!

I wonder if there is a way how to extend predicates or compose a new one using a set of others.
Here is a use case:

[code]

I would love to be able to avoid code duplication.

[2022-02-22 17:02] sindresorhus commented on #233
It might be possible, but it's not an easy task, especially because of TypeScript.

[2022-02-22 17:03] sindresorhus commented on #233
I think the easiest path for reuse is this:

[code]

[2022-02-22 18:40] ziflex commented on #233
That's what I ended up doing, but it's rather hacky and breaks an abstraction.

The easiest way of supporting this is to add a method something like ``ow.compose(name: string, ...validation: ReusableValidator<any>[])``.
But it creates 2 problems:
- TypeScript unfriendliness
- Error messages will point to different objects

[2022-03-10 00:49] atomanyih commented on #208
It does make a difference if you're spreading in your function:

[code]

[2022-03-10 01:09] atomanyih opened #234 "Is there a way for an object predicate to differentiate between key with value `undefined`, and key not present?"
If we want to validate an object with optional parameters for a spread:
[code]

This doesn't work, as ow will assert `patchBody` as
[code]
when really we want
[code]

Which makes a difference, as js treats undefined value and no key differently when spreading:

[code]

Unless I'm missing something, it doesn't look like `ow` provides a way to do this out of the box.

---

In the mean time, I've wor

[2022-03-10 01:38] atomanyih opened #235 "should `ow.string.equals` be narrowing the type to specific strings?"
## Problem
Use case: validating tagged json objects coming over the wire

[code]

## Current workaround:

As far as I could tell, there's no built in way to do this as `StringPredicate#addValidator` and `StringPredicate#validate` don't seem to let you change the type contained in the predicate.

So, I created a custom predicate:

[code]

## Possible solutions:

### A. Generify `ow.string.equals`

[2022-03-11 18:27] pmunin opened #236 "wrong message: Expected `e` to be of type .... - instead of Expected argument to be of type"
Simple code:
[code]
All of a sudden started giving me the following error message:
[code]
Previously it was giving me the right message
[code]

This behavior happens during jest test run.

The changes I made in my package.json/devDependencies:
[code]

[2022-03-11 18:48] sindresorhus commented on #236
Are you minifying the code? `e` sounds like a minified identifier.

[2022-03-11 19:15] pmunin commented on #236
It does look like minifier, but I didn't change anything in my settings for jest. Here is my jest.config:
[code]

here is my tsconfig.json:
[code]

[2022-03-11 23:14] YElyousfi commented on #235
I agree with this I think the same can be concept can be applied to `.oneOf`

[code]

[2022-03-18 10:15] bgornicki commented on #236
I experience similar problem in mocha unit tests (will check if it also affects production code) - seeing wrong argument name in error message.

[2022-03-19 17:10] sindresorhus commented on #234
Correct. `.optional` indicates the value is optional, not the key.

[2022-03-19 17:11] sindresorhus commented on #234
I think this use-case should be supported, but I don't have a clear idea on how right now.

[2022-05-23 19:37] karlhorky commented on #5
Would it be possible to also report multiple errors if the object doesn't match?

Current behavior:

[code]

Suggested behavior:

[code]

---

Even nicer would be to get the errors back in the shape of the original object:

[code]

[2022-05-24 05:57] sindresorhus commented on #5
It's in general better to open a new issue than to comment on old closed issues.

[2022-05-24 12:06] karlhorky opened #237 "Show all possible errors exhaustively (option?)"
Hi there, thanks for `ow`, looks like a super simple, minimal validator!

In searching the repo for a way to get all of the errors out of `ow`, I found #5 (implemented in #192), which talks about "multiple errors". However, this doesn't implement multiple errors for all cases when `ow` would have multiple problems with a validation.

It would be great to have a way to get all errors in all possibl

[2022-05-24 12:06] karlhorky commented on #5
Definitely agree, just wanted to get the sentiment of the team before taking the effort to open a new issue.

But if it's preferred to have that discussion elsewhere, understood.

Created a new issue: https://github.com/sindresorhus/ow/issues/237

[2022-06-24 21:36] mfulton26 opened #240 "const values"
I want to be able to validate that a value is one of several specific values and then get a union type returned

e.g.

[code]

The type would be `StringPredicate<"on" | "off">` rather than simply `StringPredicate` or some subclass of `Predicate<T>`.

A different solution that might work would be to use `ow.any(…)` so that union types can be defined for more than just strings:

[code]

[2022-06-26 10:36] sindresorhus commented on #240
I think both would be useful, but I haven't looked into whether it's possible.

[2022-07-14 14:06] leaumar opened #241 "Q: how to make custom type narrowing validator (i.e. Predicate<x>)?"
Colleagues and I have been wanting to make validators to assert values to be of specific subtypes, e.g. a union of specific strings, and narrow the type accordingly. We've been going over the docs here for that but it just isn't clear to us, sorry. We feel the meaning of most of the internal ow type names (Predicate, BasePredicate, Validator, ReusableValidator, Main, etc) is a little lost on us an

[2022-07-14 14:25] leaumar commented on #241
The best we now have is this

[code]

and it does fulfill our purpose from what we can tell. At least the value's type is narrowed to `AB` after the `ow()` call.

But this way, the validator function `isAB` is given a value to assert that's already cast by ow to `AB` instead of the `string` or `unknown` that we'd expect, suggesting that this is either an ow API weakness or this implementation does

[2022-07-18 11:07] sindresorhus commented on #241
`ow.create` is meant for creating custom validators. I don't remember whether it would solve your needs though. I also don't have time to actively maintain this package anymore (meaning, I'm happy to accept PRs, but cannot commit time to new features), so you may be better off finding a different package with a more active maintainer.

[2022-07-18 14:41] leaumar commented on #241
So I gather from you bringing that up that what we want would be a new feature, it's not really that we're missing something. Was afraid of that... I might put in the time to make a pr, I do love this lib compared to e.g. joi.

[2022-08-04 12:30] mfulton26 opened #242 "metadata"
In addition to validating values I want to identify and redact, remove, or otherwise scrub personally identifiable information (PII) from objects when logging.

I can create my own object hierarchy to point to which values in my objects are PII but it feels repetitive to me. If i could instead define custom properties on Ow predicates and then introspect them when logging then I would be able to p

[2022-10-03 13:58] #218 closed

[2022-11-14 10:15] leaumar opened #245 "Documentation is 404"
The [Complete API documentation](https://sindresorhus.com/ow/interfaces/Ow.html) link is 404 at the moment

![image](https://user-images.githubusercontent.com/3950300/201634672-0fefa10f-7cdf-4e32-9ea8-6b68ad7fe3be.png)

[2022-11-14 10:26] #245 closed